<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
		
		<style>
			
		</style>
	</head>
	<body class="bg-info" >

		<div class="layui-card layui-card-margin layui-hide">

			<form class="ag-form layui-form" ag-data-index="0" >
					
					<input type="hidden" name="validFlag"  value="('Y')" />
			</form>

			<!--xiacj 说明:注意按钮工具栏不要放到form表单中,查询ajax请求和出发form表单提交,导致url方式变化,导致ajax请求状态为canceld-->
			<div class="btns-right">

					
			</div>

		</div>

		<div class=" layui-card  layui-card-list "  >

			<div class="layui-border-box ">
			
				<div class="layui-table-tool">
					<div class="layui-table-tool-temp">
						
						<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-normal"
						 ag-data-index="0" ag-data-ctx="cfgmgr" ag-data-url="/cfg/seals/queryPageList">
							<i class="layui-icon layui-icon-search "></i>
							<span class="btn-span-middle">查询</span>
						</button>
						<button class=" ag-btn-update layui-btn layui-btn-sm layui-btn-normal "  ag-win-check ="setSeal"  ag-data-index="0">
						  <i class="layui-icon layui-icon-ok-circle "></i>
						  <span class="btn-span-middle">确定</span>
						</button>
					</div>
			
				</div>
			
			</div>

			<div style="display:none" class="ag-table-header" ag-data-index="0">

				[
				[
				{
				"type": "radio",
				"fixed": "left"
				},{
				"field": "sealId",
				"title": "编号",
				"hide":true
				},{
				"field": "validFlag",
				"title": "印模状态CODE",
				"hide":true
				}, {
				"field": "sealName",
				"title": "印模名称"
				}, {
				"field": "groupName",
				"title": "所属部门"
				}, {
				"field": "sealHigh",
				"title": "印模高"
				}, {
				"field": "sealWidth",
				"title": "印模宽"
				}, {
				"field": "sealType",
				"title": "印模类型"
				}, {
				"field": "validFlagName",
				"title": "印模状态"
				}, {
				"field": "loginNoStr",
				"title": "操作工号"
				}, {
				"field": "opTime",
				"title": "操作时间"
				}

				]
				]

			</div>
			<table class="ag-table layui-hide" id="demo" lay-filter="test" ag-data-index="0">

			</table>

			<div class="pagging ag-area-page">
				   
			</div>

		</div>
		

	</body>
	
	<script type="text/javascript">
		
		
		
		function setSeal(opt){
			
			
			parent.setSealValue1(opt.data[0]);
			
			return false;
		}
		
		
		
	</script>
</html>
