<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')



	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-form">

			<div class="layui-card-body">

				<form class="ag-form layui-form" ag-data-index="1" ag-data-ctx="cfgmgr" ag-data-url="/cfg/settings/acceptfuncs/addInit">


						<div class="layui-inline ">
							<label class="layui-form-label">功能编码：</label>
							<div class="layui-input-block">
								<input type="text" name="funcCode" ag-verify="required" autocomplete="off" placeholder="功能编码" class="layui-input">
							</div>
						</div>

						<div class="layui-inline ">
							<label class="layui-form-label">功能名称：</label>
							<div class="layui-input-block">
								<input type="text" name="funcName" ag-verify="required" autocomplete="off" placeholder="功能名称" class="layui-input">
							</div>
						</div>
						<div class="layui-inline ">
							<label class="layui-form-label">样式类名称：</label>
							<div class="layui-input-block">
								<input type="text" name="cssName" ag-verify="required" autocomplete="off" placeholder="样式类名称" class="layui-input">
							</div>
						</div>

						<div class="layui-inline ">
							<label class="layui-form-label">JS方法名称：</label>
							<div class="layui-input-block">
								<input type="text" name="jsName" ag-verify="required" autocomplete="off" placeholder="JS方法名称" class="layui-input">
							</div>
						</div>
						<div class="layui-inline ">
							<label class="layui-form-label">功能备注：</label>
							<div class="layui-input-block">
								<input type="text" name="funcDesc" ag-verify="required" autocomplete="off" placeholder="功能备注" class="layui-input">
							</div>
						</div>
						<div class="layui-inline ">
							<label class="layui-form-label">置灰样式：</label>
							<div class="layui-input-block">
								<input type="text" name="disableCss" ag-verify="required" autocomplete="off" placeholder="置灰样式" class="layui-input">
							</div>
						</div>
						<div class="layui-inline ">
							<label class="layui-form-label">按钮类型：</label>
							<div class="layui-input-block">
								<select name="funcType" ag-sel-name="funcTypeName">
								</select>
							</div>
						</div>

				</form>


			</div>

			<div class="layui-card-footer">

				<button class="ag-btn-save layui-btn layui-btn-sm layui-btn-normal " ag-data-ctx="cfgmgr" ag-data-url="/cfg/settings/acceptfuncs/add"
				 ag-data-index="1">
					<i class="layui-icon layui-icon-ok-circle "></i>
					<span class="btn-span-middle">保存</span>
				</button>
				<button class="ag-btn-cancel layui-btn layui-btn-sm layui-btn-normal">
					<i class="layui-icon layui-icon-close "></i>
					<span class="btn-span-middle">取消</span>
				</button>
			</div>

		</div>
	</body>

</html>
