<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config.html')
</head>

<body>
  <div class="layui-fluid">         <div class="layui-card">              <form class="layui-form layui-card-body mt20">         <input type="hidden" name="pageNo" class="pageNo" value="1">
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">素材名称：</label>
        <div class="layui-input-inline">
          <input type="text" name="number" lay-verify="username" autocomplete="off" class="layui-input">

        </div>

      </div>
      <div class="layui-inline">
        <label class="layui-form-label">素材是否可用：</label>
        <div class="layui-input-inline">
          <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
        </div>

      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">素材类别：</label>
        <div class="layui-input-inline">
         <select name="" id=""><option></option></select>

        </div>

      </div>
      <div class="layui-inline">
        <label class="layui-form-label">素材所属地市：</label>
        <div class="layui-input-inline">
                <select name="" id=""><option></option></select>
        </div>

      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn layui-btn-sm ag-btn-query" lay-submit lay-filter="formQuery">查询</button>
        <button type="button" reset="true" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
  </div>         <div class="layui-card">             <div class="layui-card-body">                  <table id="ag-table" lay-filter="ag-table">

  </table>         <div id="ag-area-page">          </div>
  <script type="text/html" id="sex">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo" {{ d.id == 10003 ? 'checked' : '' }}>
</script>
  <div class="demoTable">
    <button class="layui-btn" data-type="getCheckData">新增</button>
    
  </div>
  <div id="barDemo" style="display:none">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </div>
  </div>         </div>              </div>   <script src="/static/js/bundle/logManagement.js?v=1.0.0"></script>
</body>

</html>
