<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config.html')
</head>

<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <form class="layui-form layui-card-body mt20"> <input type="hidden" name="currentPage" class="currentPage"
          value="1">
        <div class="layui-form-item">

          @@include('input.html',{"title":"公告名称","verify":"","name":"notice_name"})
          @@include('input.html',{"title":"发布人工号","verify":"","name":"notice_login_no"})
          <div class="layui-inline right">
            <button type="button" class="layui-btn layui-btn-sm ag-btn-query" lay-submit lay-filter="formQuery"><i
                class="layui-icon layui-icon-search"></i>查询</button>
            <button type="button" reset="true" class="layui-btn layui-btn-sm layui-btn-danger"><i
                class="layui-icon layui-icon-refresh"></i>重置</button>

          </div>
        </div>
        <!-- <div class="layui-form-item">
      <div class="layui-input-block demoTable">
        <button type="button" class="layui-btn layui-btn-sm submission" lay-submit lay-filter="formQuery">查询</button>
        <button type="button" reset="true" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
        <button button type="button" class="layui-btn add layui-btn-sm" data-type="getCheckData">新增</button>
    <button button type="button" class="layui-btn layui-btn-sm del" data-type="del">删除</button>
      </div>
    </div> -->
      </form>
    </div>
    <div class="layui-card">
      <div class="layui-card-body">
        <script type="text/html" id="ag-table-header">
          <div class="layui-btn-container" >
              <button class="layui-btn layui-btn-sm ag-btn-add" lay-event="add"> <i class="layui-icon layui-icon-add-1"></i>新增 </button>
         
              <button class="layui-btn layui-btn-sm layui-btn-danger ag-btn-del" lay-event="del"> <i class="layui-icon layui-icon-delete"></i>删除 </button>
          </div>
      </script>
        <table id="ag-table" lay-filter="ag-table">

        </table>
        <div id="ag-area-page"> </div>
        <!-- <div class="demoTable">
    <button class="layui-btn add" data-type="getCheckData">新增</button>
    <button class="layui-btn del" data-type="del">删除</button>
     
    
  </div> -->
        <div id="barDemo" style="display:none">
          <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>


        </div>
      </div>
    </div>
  </div>
  <script src="../../static/js/bundle/noticeManagement.js?v=201809271123"></script>
</body>

</html>