<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config.html')
</head>

<body>
    <div class="layui-fluid">         <div class="layui-card">              <form class="layui-form layui-card-body mt20">         <input type="hidden" name="pageNo" class="pageNo" value="1">
        <div class="layui-form-item">
            @@include('inputYYMM.html',{"title":"开始时间","type":"YYYY-MM","id":"startIn"})
            @@include('inputYYMM.html',{"title":"开始时间","type":"YYYY-MM","id":"startEnd"})
            @@include('input.html',{"title":"操作账号","verify":""})
        </div>
        <div class="layui-form-item">
            @@include('select.html',{"title":"操作类型"})
            @@include('select.html',{"title":"操作结果"})
            @@include('select.html',{"title":"操作对象"})
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm ag-btn-query" lay-submit lay-filter="formQuery">查询</button>
            <button type="button" reset="true" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
          </div>
        </div>
    </form>
    </div>         <div class="layui-card">             <div class="layui-card-body">                  <table id="ag-table" lay-filter="ag-table">
      
    </table>         <div id="ag-area-page">          </div>
    <div class="demoTable">
        <button class="layui-btn" data-type="getCheckData">新增</button>
        
      </div>
      <div id="barDemo" style="display:none">
        <a class="layui-btn layui-btn-xs" lay-event="edit">下载</a>
         
        
      </div>
  </div>         </div>              </div>   <script src="/static/js/bundle/operationLog.js?v=1.0.0"></script>
</body>

</html>
