<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config.html')
</head>
<script>
    
  
layui.use(['layer'], function () {
 
var layer = layui.layer;
var msg = '${info}';
layer.confirm(msg,function(index){
    window.opener = null; 
window.open('', '_self'); 
window.close() 
});

// window.location.replace("about:blank");
});


</script>
<body>
  
  
</body>

</html>