<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config-win.html',{
    "rootD":"../.."
  })
  @@include('ztree.html',{
    "rootD":"../.."
  })
</head>
<style>
  .orgTree{
    overflow: hidden;
  }
</style>
<body>
  <input type="hidden" class="groupId">
  <input type="hidden" class="groupName">
    <ul id="ag-tree" style="height:100%" class="ztree orgTree" data-id="0"></ul>
  <script src="../../static/js/bundle/organiztionWin.js?v=1.0.0"></script>
</body>

</html>
