<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config-win.html')
  @@include('ztree.html')
</head>
<style>
.orgTree{
  height:auto;
  overflow: hidden;
}
</style>
<body>
  <input type="hidden" class="groupId">
  <input type="hidden" class="groupName">
    <ul id="ag-tree" class="ztree orgTree"></ul>
  <script src="/static/js/bundle/power.js?v=1.0.0"></script>
</body>

</html>
