<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config-win.html')
</head>

<body>
  <div class="layui-form mt20" lay-filter="winId">
      <div class="layui-form-item">
          @@include('input.html',{"title":"证书名称","name":"certName","verify":"requiredM"})
          
         
        </div>
        <div class="layui-form-item">
    
          @@include('input.html',{"title":"证书有效期","name":"certValidLong","verify":"requiredM"})
        </div>
        <div class="layui-form-item">
    
          @@include('select.html',{"title":"证书类型","name":"certType","verify":"requiredM"})
        </div>
        <div class="layui-form-item">
    
          @@include('select.html',{"title":"证书时效性","name":"certTimeliness","verify":"requiredM"})
        </div>
        <div class="layui-form-item">
    
          @@include('select.html',{"title":"证书申请方式","name":"certApplyType","verify":"requiredM"})
        </div>
        
         
        <div class="layui-form-item dpn addBox">
    
          @@include('inputAndBtn.html',{"title":"所属机构","name":"departName","verify":"","choice":"organiztionp","ignore":"2"})
        </div>
    <div class="layui-form-item">
        @@include('textarea.html',{"title":"审批意见","class":"refuseInfo","name":"miContent","verify":"requiredM"})
        
    </div>
    <!-- <button class="layui-btn layui-btn-sm ag-btn-query" lay-submit lay-filter="formQuery">查询</button> -->
  </div>

  <script src="/static/js/bundle/review.js?v=1.0.0"></script>
</body>

</html>
