<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config-win.html')
  
</head>
<style>
 
</style>
<body layadmin-themealias="default">

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">设置我的资料</div>
          <div class="layui-card-body" pad15="">
            
            <div class="layui-form" lay-filter="winId">
              <div class="layui-form-item">
                @@include('input.html',{"title":"用户姓名","name":"workName","verify":"requiredM","shape":"1"})
          
              </div>
              <div class="layui-form-item">
                
                @@include('input.html',{"title":"登陆账号","name":"account","verify":"requiredM","shape":"1"})
              </div>
              <div class="layui-form-item bbox dpn">
          
                @@include('input.html',{"title":"密码","name":"password","verify":"requiredM","shape":"1","type":"password"})
              </div>
              <div class="layui-form-item">
          
                @@include('input.html',{"title":"用户手机号","name":"userPhone","verify":"requiredM","shape":"1"})
              </div>
              <div class="layui-form-item">
          
                @@include('input.html',{"title":"用户邮箱","name":"userEmail","verify":"requiredM","shape":"1"})
              </div>
              <div class="layui-form-item">
          
                @@include('select.html',{"title":"用户证件类型","name":"userIdType","verify":"requiredM","shape":"1"})
              </div>
              <div class="layui-form-item">
          
                @@include('input.html',{"title":"用户证件号","name":"userIdcardNum","verify":"requiredM","shape":"1"})
              </div>
          
              <div class="layui-form-item">
          
                @@include('inputAndBtn.html',{"title":"所属机构","name":"departName","verify":"","choice":"organiztion","ignore":"2","shape":"1"})
              </div>
              <div class="layui-form-item">
                  <div class="layui-inline layui-col-md4">
                      <label class="layui-form-label layui-col-md4">角色：</label>
                      <div class="layui-input-inline layui-col-md5 ">
                        <select name="roleIds" multiple="multiple" class="roleIds" lay-verify="text" ignore="3" lay-filter="test">
                             
                        </select>
                      </div>
                    </div>
                
                
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn layui-btn-sm" lay-submit lay-filter="formQuery">确认修改</button>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/bundle/userInfo.js?v=1.0.0"></script>
   
</body>
 

</html>
