<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @@include('url-config.html')
    <style>
      body {
            background-color: #ffffff;
        }
    </style>
  </head>
  <body>
    <div class="ag-form layui-form layuimini-form" ag-data-index="0">
      <div class="layui-form-item">
        <label class="layui-form-label">短输入框</label>
        <div class="layui-input-inline">
          <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="ag-btn-query layui-btn" lay-submit lay-filter="queryBtn" ag-data-index="0" ag-data-url="/sys/tenant/queryList">查询</button>
        </div>
      </div>
    </div>

    <div style="display:none" class="ag-table-header" ag-data-index="0">
        [
          [
            {
              "type": "checkbox",
              "fixed": "left"
            }, {
              "field": "tenantId",
              "title": "ID",
              "width": 80,
              "sort": true,
              "fixed": "left",
              "totalRowText": "合计"
            }, {
              "field": "username",
              "title": "用户名",
              "width": 80
            }

          ]
        ]
    </div>
    <table class="ag-table layui-hide" id="demo" lay-filter="test" ag-data-index="0">

    </table>

    <div class="pagging ag-area-page">
			    <a href="#" rel="pre" class="ag-btn-page-pre">&lt; 上一页</a> <a href="#" rel="next" class="ag-btn-page-next">下一页 &gt;</a>
			    <span id="totalPageSpan"></span>|<span id="totalRecordSpan"></span>|<span id="pageNoSpan"></span>
		</div>

    <script>

    </script>
  </body>
</html>
