<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-form">

			<div class="layui-card-body">

				<form class="ag-form layui-form" ag-data-index="1" ag-data-url="/sys/monitors/device/updateInit">

					<input type="hidden" name="id" />

					<div class="layui-inline ">
						<label class="layui-form-label">租户ID：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="tenantId" ag-verify="required" autocomplete="off" placeholder="渠道编码"
							 class="layui-input">
						</div>
					</div>

					<div class="layui-inline ">
						<label class="layui-form-label">渠道编码：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="channelCode" ag-verify="required" autocomplete="off" placeholder="渠道编码"
							 class="layui-input">
						</div>
					</div>

					<div class="layui-inline ">
						<label class="layui-form-label">渠道名称：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="channelName" ag-verify="required" autocomplete="off" placeholder="渠道名称"
							 class="layui-input">
						</div>
					</div>

					<div class="layui-inline ">
						<label class="layui-form-label">营业员工号：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="workNo" ag-verify="required" autocomplete="off" placeholder="渠道名称"
							 class="layui-input">
						</div>
					</div>

					<div class="layui-inline ">
						<label class="layui-form-label">营业员姓名：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="workName" ag-verify="required" autocomplete="off" placeholder="渠道名称"
							 class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">客户端ip：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="clientIp" ag-verify="required" autocomplete="off" placeholder="渠道名称"
							 class="layui-input">
						</div>
					</div>

					<div class="layui-inline ">
						<label class="layui-form-label">错误编码：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="errCode" ag-verify="required" autocomplete="off" placeholder="渠道名称"
							 class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">错误名称：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="errMsg" ag-verify="required" autocomplete="off" placeholder="渠道名称"
							 class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">错误产生时间：</label>
						<div class="layui-input-block">
							<input readonly="readonly" type="text" name="errTime" ag-verify="required" autocomplete="off" placeholder="渠道名称"
							 class="layui-input">
						</div>
					</div>

					<div class="layui-inline ">
						<label class="layui-form-label">处理状态：</label>
						<div class="layui-input-block">
							<select name="sts" readonly="readonly">
							</select>
						</div>
					</div>


				</form>


			</div>

			<div class="layui-card-footer">

				<button class="ag-btn-save layui-btn layui-btn-sm layui-btn-blue " ag-data-url="/sys/monitors/device/update"
				 ag-data-index="1">
					<i class="layui-icon layui-icon-search "></i>
					<span class="btn-span-middle">处理</span>
				</button>
				<button class="ag-btn-cancel layui-btn layui-btn-sm layui-btn-blue">
					<i class="layui-icon layui-icon-search "></i>
					<span class="btn-span-middle">取消</span>
				</button>
			</div>

		</div>
	</body>

</html>
