<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="keywords" content="">
  <meta name="description" content=""> @@include('url-config.html')
  <link rel="stylesheet" href="/static/css/bundle/index.css?v=201809131551">
  <title>首页</title>
</head>

<body class="layui-layout-body">

  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">

      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">

      </ul>
      <ul class="layui-nav layui-layout-right">
          <!-- <li class="layui-nav-item ">
              <a href="javascript:;" title="接口文档"  lay-href="apiDoc/apiDoc.html" class="apiB">
                <span>接口文档</span></a>
    
            </li> -->
            <li class="layui-nav-item">
                <a href="javascript:;">帮助</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                  <dd><a href="javascript:;" title="接口文档"  lay-href="apiDoc/developmentDoc.html" class="apiB"><span>开发文档</span></a></dd>
                  <dd><a href="javascript:;" title="接口文档"  lay-href="apiDoc/apiDoc.html" class="apiB"><span>接口文档</span></a></dd>
                  
                </dl>
              </li>
        <li class="layui-nav-item ">
          <a href="javascript:;" lay-href="commonWin/userInfo.html" class="loginName">
          </a>

        </li>
        <li class="layui-nav-item ">
          <a href="#this" id="quit" class="quit"> <i class="icon iconfont">&#xe608;</i> 退出</a>

        </li>

      </ul>
      <!-- <form class="dpn login-jump">
          <input type="hidden" class="jump" name="data">
          <button type="submit" class="fire">跳转到admin</button>
        </form> -->
    </div>

    <div class="layui-side layui-bg-black layui-side-menu" lay-filter="test">

      <div class="layui-side-scroll">
        <div class="layui-logo">
          <img src="/static/images/index/logo.png" alt="">
          <span>无纸化管理系统</span>
        </div>
        <!-- 无纸化管理系统 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree menuAgile" lay-filter="test">
          <li class="layadmin-flexible shrink">
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩" class="font-center">
              <i class="layui-icon icon iconfont">&#xe612;</i>

            </a>
          </li>
          <!-- <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">工单稽核</a>
            <dl class="layui-nav-child">
              <dd>
                <a href="javascript:;" class="menu_three">一级稽核</a>
                <ol class="layui-nav-child" style="display: none;">
                  <li>
                    <a lay-href="javascript:;">三级列表一</a>
                  </li>
                  <li>
                    <a href="javascript:;">三级列表二</a>
                  </li>
                  <li>
                    <a href="javascript:;">三级列表三</a>
                  </li>
                   
                </ol>
                
              </dd>
              <dd>
                <a href="javascript:;" class="menu_three">二级稽核</a>
                <ol class="layui-nav-child" style="display: none;">
                  <li>
                    <a lay-href="javascript:;">三级列表1</a>
                  </li>
                  <li>
                    <a href="javascript:;">三级列表2222</a>
                  </li>
                  <li>
                    <a href="javascript:;">三级列表3333</a>
                  </li>
                   
                </ol>
                
              </dd>
            </dl>
          </li> -->

        </ul>
      </div>
    </div>
    <!-- 页面标签 -->


    <div class="layadmin-pagetabs">

      <div class="layui-tab" lay-allowClose="true" lay-filter="test">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down webPage">
          <ul class="layui-nav layadmin-tabs-select">
            <!-- <li class="layui-nav-item" lay-unselect="">
                      <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                      <dl class="layui-nav-child">
                        <dd><a href="javascript:;">修改信息</a></dd>
                        <dd><a href="javascript:;">安全管理</a></dd>
                        <dd><a href="javascript:;">退了</a></dd>
                      </dl>
                    </li> -->
            <li class="layui-nav-item" lay-unselect="">
              <!-- style="width:133px;height:141px" -->
              <a href="javascript:;">
                <span class="layui-nav-more"></span>
              </a>
              <dl class="layui-nav-child ">
                <dd layadmin-event="closeThisTabs" class="">
                  <a href="javascript:;">关闭当前标签页</a>
                </dd>
                <dd layadmin-event="closeOtherTabs">
                  <a href="javascript:;">关闭其它标签页</a>
                </dd>
                <dd layadmin-event="closeAllTabs">
                  <a href="javascript:;">关闭全部标签页</a>
                </dd>
              </dl>
            </li>
            <span class="layui-nav-bar"></span>
            <!-- style="left: 20px; top: 35px; width: 0px; opacity: 0;" -->
          </ul>
        </div>
        <ul class="layui-tab-title">
          <li lay-id="" class="layui-this">
            主页
            <i class="layui-icon layui-icon-home homeIcon"></i>
            <i class="layui-icon layui-unselect layui-tab-close"></i>
          </li>

        </ul>
 

      </div>
    </div>
    <div class="layui-body">
      <div class="layui-tab-content clear">

        <div class="layui-tab-item layui-show clear">
            <!--  basicFunction/organizationalManagement.html-->
          <iframe class="adminWin" u-src="homePage/homePage.html" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <!-- homePage/homePage.html templateManagement/templateManagementWin/templateManagementWin.html -->
    <!-- <div class="layui-footer tac">

      京ICP备 14049221 号版权所有 Copyright@2016 北京爱知之星科技股份有限公司，保留一切权利
    </div> -->
  </div>


  <script src="/static/js/bundle/admin.js?v=201809271123"></script>
  <!-- <input type="hidden" class="login" value='{"userId":"7121716388ca4d6aaac0c93cbfcda031","userName":"zww","departNumber":"1"}'> -->
  <!-- 7121716388ca4d6aaac0c93cbfcda031  zww -->
  <!-- df655ad8d3229f3269fad2a8bab59b6c admin -->
</body>

</html>
