<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-margin ">

			<form class="ag-form layui-form" ag-data-index="0" ag-data-ctx="sysmgr"  >

				<div class="param-left">

					<div class="layui-inline ">
						<label class="layui-form-label">厂商编码：</label>
						
						<div class="layui-input-block">
							<input type="text" name="companyId" autocomplete="off" placeholder="厂商编码" class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">厂商名称：</label>
						<div class="layui-input-block">
							
							<input type="text" name="companyName" autocomplete="off" placeholder="厂商名称" class="layui-input">
							
						</div>
					</div>
					
				</div>


			</form>

			<!--xiacj 说明:注意按钮工具栏不要放到form表单中,查询ajax请求和出发form表单提交,导致url方式变化,导致ajax请求状态为canceld-->
			<div class="btns-right">

					<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-normal" 
					 ag-data-index="0" ag-data-ctx="sysmgr"  ag-data-url="/sys/equipment/queryPage">
						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">查询</span>
					</button>

					<button class="ag-btn-reset layui-btn layui-btn-sm layui-btn-normal" ag-data-index="0" type="reset" >
						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">重置</span>
					</button>


			</div>

		</div>




		<div class=" layui-card  layui-card-list" style="height: calc( 100vh - 105px);">

			<div class="layui-border-box ">

				<div class="layui-table-tool">
					<div class="layui-table-tool-temp">
						<div class="ag-btn-add layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800" ag-win-height="600"
						 ag-win-title="设备厂商新增" ag-data-url="/views/equipmentcompany/equipmentcompanyAdd.html"><i class="layui-icon layui-icon-add-1"></i></div>
						<div class="ag-btn-update layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800"
						 ag-win-height="600" ag-win-title="设备厂商修改" ag-data-pk="companyId" ag-data-url="/views/equipmentcompany/equipmentcompanyUpdate.html"><i
							 class="layui-icon layui-icon-edit"></i></div>
						<div class="ag-btn-del layui-inline" lay-event ag-data-index="0" ag-data-ctx="sysmgr"  ag-data-pk="companyId" ag-data-url="/sys/equipment/del"><i
							 class="layui-icon layui-icon-delete"></i></div>
					</div>

				</div>

			</div>

			<div style="display:none" class="ag-table-header" ag-data-index="0">

				[
					[{
						"type": "radio",
						"fixed": "left"
					},  {
						"field": "companyId",
						"title": "设备厂商编码",
						"hide":true
					}, {
						"field": "companyName",
						"title": "设备厂商全称"
					}, {
						"field": "companyAddr",
						"title": "设备厂商地址",
						"hide":true
					}, {
						"field": "companyContact",
						"title": "厂商联系人"
					}, {
						"field": "companyPhoneNo",
						"title": "厂商联系电话"
					}, {
						"field": "companyEmail",
						"title": "邮箱地址"
					}, {
						"field": "companyShortName",
						"title": "设备厂商简称"
					}, {
						"field": "postalcode",
						"title": "邮政编码"
					}, {
						"field": "opTime",
						"title": "创建时间"
					}, {
						"field": "loginNo",
						"title": "创建人"
					}, {
						"field": "opType",
						"title": "操作类型"
					}]
				]

			</div>
			<table class="ag-table layui-hide" id="demo" lay-filter="test" ag-data-index="0">

			</table>

			<div class="pagging ag-area-page">
				   
			</div>

		</div>

		<script>

		</script>
	</body>
</html>
