<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info" style="position: relative;">

		<div class="layui-card layui-card-form">

			<div class="layui-card-body">

				<form class="ag-form layui-form" ag-data-index="1" >
					<input type="hidden" name="message" id="message" />
					<input type="hidden" name="typeId" id="typeId" />
					<input type="hidden" name="modelfileId" id="modelfileId" />

						<div class="layui-inline ">
							<label class="layui-form-label">操作代码：</label>
							<div class="layui-input-block">
								<input type="text" readonly="readonly" name="opCode" id="opCode"  autocomplete="off" placeholder="操作代码" class="layui-input">
							</div>
						</div>

						<div class="layui-inline ">
							<label class="layui-form-label">模板名称：</label>
							<div class="layui-input-block">
								<input type="text" id="modelfileName"  readonly="readonly" name="modelfileName" ag-verify="required" autocomplete="off" placeholder="模板名称"
								 class="layui-input">
							</div>
						</div>
						<div class="layui-inline ">
							<label class="layui-form-label">操作人：</label>
							<div class="layui-input-block">
								<input type="text" id="loginNo" name="loginNo"  readonly="readonly" ag-verify="required" autocomplete="off" placeholder="操作人" class="layui-input">
							</div>
						</div>

						<div class="layui-inline ">
							<label class="layui-form-label">操作时间：</label>
							<div class="layui-input-block">
								<input type="text" id="opTime" name="opTimeString"  readonly="readonly" ag-verify="required" autocomplete="off" placeholder="操作时间"
								 class="layui-input">
							</div>
						</div>
						<div class="layui-inline ">
							<label class="layui-form-label">模板类型：</label>
							<div class="layui-input-block">
								<input type="text" id="typeName" name="typeName"  readonly="readonly"  ag-verify="required" autocomplete="off" placeholder="模板类型"
								 class="layui-input">
							</div>
						</div>
						
						
						
				</form>


			</div>
			
			<div id="show_HWPostil1" style="position: absolute;top:210px;left:30px;right:30px;bottom: 70px;">
			
				<script language="javascript" src="/static/js/ocx/LoadAip.js"></script>
			</div>
			<div class="layui-card-footer">

				<button class="ag-btn-save layui-btn layui-btn-sm layui-btn-normal " ag-data-ctx="cfgmgr" ag-data-url="/cfg/modelFile/updates?validFlag=Y"
				 ag-data-index="1">
					<i class="layui-icon layui-icon-ok-circle "></i>
					<span class="btn-span-middle">审批通过</span>
				</button>
				<button class="ag-btn-save layui-btn layui-btn-sm layui-btn-normal " ag-data-ctx="cfgmgr" ag-data-url="/cfg/modelFile/updates?validFlag=N"
				 ag-data-index="1">
					<i class="layui-icon layui-icon-close-fill "></i>
					<span class="btn-span-middle">审批不通过</span>
				</button>
			</div>

		</div>





		
	</body>

	<script>
		layui.use('form', function() {

			var form = layui.form;

			form.render();
			
			
			$("object").addClass("hideObject");

		});
	</script>

	<script>
		var argObj = null;

		function addField() {
			var vRet = HWPostil1.Login("sys_admin", 5, 32767, "", "");

			if (0 == vRet) {
				HWPostil1.InDesignMode = true;
			}
		}

		function modelFileEdit(modelement_code, type, border, halign, valign, font_family, font_size, font_color, edit_type,
			rowkerning) {
			if (argObj == null)
				return;
			var field_width = argObj.EndX - argObj.StartX;
			var field_height = argObj.EndY - argObj.StartY;

			//模板元素带 ~ 的特殊处理
			if (modelement_code.indexOf("~") == -1) {
				var vRet = HWPostil1.InsertNote(modelement_code, argObj.page, type, argObj.StartX, argObj.StartY, field_width,
					field_height);
				if (vRet == "") {
					showDialog("此字段映射已经添加", 0);
					return;
				}
			} else { //支持多个，命名方式为phone~96,phone~2E等
				modelement_code = modelement_code + randomString(2);
				var vRet = HWPostil1.InsertNote(modelement_code, argObj.page, type, argObj.StartX, argObj.StartY, field_width,
					field_height);
				if (vRet == "") {
					showDialog("此字段映射已经添加", 0);
					return;
				}
			}

			font_size = font_size.replace(/pt/ig, "");
			font_color = font_size.replace(/#/ig, "0x00");
			HWPostil1.SetValue(modelement_code, ":PROP::LABEL:" + edit_type);
			HWPostil1.SetValue(modelement_code, ":PROP:BORDER:" + border);
			HWPostil1.SetValue(modelement_code, ":PROP:FACENAME:" + font_family);
			HWPostil1.SetValue(modelement_code, ":PROP:FONTSIZE:" + font_size);
			HWPostil1.SetValue(modelement_code, ":PROP:FRONTCOLOR:" + font_color);
			HWPostil1.SetValue(modelement_code, ":PROP:HALIGN:" + halign);
			HWPostil1.SetValue(modelement_code, ":PROP:VALIGN:" + valign);
			HWPostil1.SetValue(modelement_code, ":PROP:ROWKERNING:" + rowkerning); //行间距需要优化 jx20120731tianyang00

			argObj = null;
		}

		function NotifyLineAction(lPage, lStartPos, lEndPos) {
			var lStartY = (lStartPos >> 16) & 0x0000ffff;
			var lStartX = ((lStartPos << 16) >> 16) & 0x0000ffff;

			var lEndY = (lEndPos >> 16) & 0x0000ffff;
			var lEndX = ((lEndPos << 16) >> 16) & 0x0000ffff;
			argObj = {
				"page": lPage,
				"StartX": lStartX,
				"StartY": lStartY,
				"EndX": lEndX,
				"EndY": lEndY
			};
			var url = Constants.webCtx + "/model/setField?${_agileTokenParam}";
			openwin("", url);
		}
	</script>

	<script LANGUAGE=javascript for="HWPostil1" event="NotifyCtrlReady">
		// 控件"HWPostil1"的NotifyCtrlReady事件，一般在这个事件中完成初始化的动作
		document.getElementById("HWPostil1").width = "100%";
		document.getElementById("HWPostil1").height = "100%";
		//打开文件之前需要先登录用户，否则复选框等无法选择
		HWPostil1.Login("sys_admin", 5, 32767, "", "");
		HWPostil1.ShowDefMenu = 1; //0是隐藏菜单
		//HWPostil1.ShowToolBar = 1; //0是隐藏工具条
		//HWPostil1.ShowScrollBarButton = 1;
		//HWPostil1.SilentMode=1;//设置为安静模式
		HWPostil1.ShowToolBar = 0; //隐藏工具栏


		getModelInfo();
	</script>

	<SCRIPT LANGUAGE=javascript FOR=HWPostil1 EVENT=NotifyLineAction(lPage,lStartPos,lEndPos)>
		NotifyLineAction(lPage, lStartPos, lEndPos);
	</SCRIPT>

	<script>
		function getModelInfo() {
			var url = ctx + "/cfgmgr/cfg/modelFile/updateAjax";
			var param = {
				"modelfileId": util.getUrlParam().modelfileId
			};
			
			
			util.ajaxJson("页面加载中..",url,param,function(data){
				
				
				
				var body = data.body;
				
				
				HWPostil1.LoadFileBase64(body.message);
				$("#typeName").val(body.typeName);
				$("#modelfileName").val(body.modelfileName);
				$("#opCode").val(body.opCode);
				$("#loginNo").val(body.loginNo);
				$("#opTime").val(body.opTime);
				$("#modelfileId").val(body.modelfileId);
				$("#typeId").val(body.modelType.typeId);
				$("#groupId").val(body.groupMsg.groupId);
				
			},undefined,true);
		}




	</script>
</html>
