<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/static/layui/css/layui.css" />
		<link rel="stylesheet" href="/static/css/bundle/temp.css" />
		<script src="/static/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>
   <script src="/static/js/libs/jquery-1.8.2.min.js?v=1.0.0"></script>
  <script LANGUAGE=javascript for="HWPostil1" event="NotifyCtrlReady">
        // 控件"HWPostil1"的NotifyCtrlReady事件，一般在这个事件中完成初始化的动作
        document.getElementById("HWPostil1").width = "100%";
        document.getElementById("HWPostil1").height = "100%";
        //打开文件之前需要先登录用户，否则复选框等无法选择
        HWPostil1.Login("sys_admin", 5, 32767, "", "");
        HWPostil1.ShowDefMenu = 1; //0是隐藏菜单
        //HWPostil1.ShowToolBar = 1; //0是隐藏工具条
        //HWPostil1.ShowScrollBarButton = 1;
        //HWPostil1.SilentMode=1;//设置为安静模式
        HWPostil1.ShowToolBar = 0;//隐藏工具栏
        getModelInfo();
    </script>

    <SCRIPT LANGUAGE=javascript FOR=HWPostil1 EVENT=NotifyLineAction(lPage,lStartPos,lEndPos)>
        NotifyLineAction(lPage,lStartPos,lEndPos);
    </SCRIPT>

    @@include('url-config.html')
  </head>
	<body class="bg-info">

		<div class="layui-card layui-card-form">

				<div class="layui-card-body">

					<form  class="ag-form layui-form" >
          <input type="hidden" id="modelfileId" />
          <input type="hidden" id="typeId" />
          <input type="hidden" id="groupId" />

                <div class="layui-inline ">
                				<label class="layui-form-label">模板类型：</label>
                				<div class="layui-input-block">
                					<input type="text"  id="typeName" name="typeName" ag-verify="required" autocomplete="off" readonly="readonly" reaplaceholder="模板类型" class="layui-input">
                				</div>
                 </div>
                <div class="layui-inline ">
                	<label class="layui-form-label">模板名称：</label>
                	<div class="layui-input-block">
                		<input type="text"  id="modelfileName" name="modelfileName" readonly="readonly" ag-verify="required" autocomplete="off" placeholder="模板名称" class="layui-input">
                	</div>
                </div>
              <div class="layui-inline " id="opCodeTR">
                	<label class="layui-form-label">操作代码：</label>
                	<div class="layui-input-block">
                		<input type="text" id="opCode" name="opCode" ag-verify="required" readonly="readonly" autocomplete="off" placeholder="操作代码" class="layui-input">
                	</div>
                </div>
        <div class="layui-inline " id="opCodeTR">
                	<label class="layui-form-label">操作人：</label>
                	<div class="layui-input-block">
                		<input type="text" id="loginNo" name="loginNo" ag-verify="required" autocomplete="off" readonly="readonly" placeholder="操作代码" class="layui-input">
                	</div>
                </div>
                <div class="layui-inline " id="opCodeTR">
                        	<label class="layui-form-label">操作时间：</label>
                        	<div class="layui-input-block">
                        		<input type="text" id="opTime" name="opTime" ag-verify="required" autocomplete="off" readonly="readonly"  placeholder="操作时间" class="layui-input">
                        	</div>
                        </div>
					</form>
				</div>
				<div class="layui-card-footer">
						<button class="layui-btn layui-btn-sm layui-btn-normal "    onclick="addField();">
							<i class="layui-icon layui-icon-search "></i>
							<span class="btn-span-middle">添加区域</span>
						</button>
						<button class="layui-btn layui-btn-sm layui-btn-normal "    onclick="updateInit()">
							<i class="layui-icon layui-icon-search "></i>
							<span class="btn-span-middle">修改</span>
						</button>
						<button class=" layui-btn layui-btn-sm layui-btn-normal" onclick ="util.removeTab()">
							<i class="layui-icon layui-icon-search "></i>
							<span class="btn-span-middle">取消</span>
						</button>
				</div>
        <div id="show_HWPostil1" style="position: absolute;top:150px;bottom: 70px;left:0;right:0px;z-index:-9999999" >
        <script language=javascript src="/static/js/ocx/LoadAip.js"></script>
        </div>


		</div>

	</body>

	<script>
		layui.use('form', function() {

			var form = layui.form;

			form.render();
			
			$("object").addClass("hideObject");

		});
</script>
<script>
var argObj = null;
function addField(){
    var vRet = HWPostil1.Login("sys_admin", 5, 32767, "", "");

    if(0 == vRet){
        HWPostil1.InDesignMode = true;
    }
}
function modelFileEdit(modelement_code,type,border,halign,valign,font_family,font_size,font_color,edit_type,rowkerning){
    if(argObj == null)
    return;
    var field_width = argObj.EndX - argObj.StartX;
    var field_height = argObj.EndY - argObj.StartY;

    //模板元素带 ~ 的特殊处理
    if(modelement_code.indexOf("~")==-1){
    var vRet = HWPostil1.InsertNote(modelement_code,argObj.page,type,argObj.StartX,argObj.StartY,field_width,field_height);
    if(vRet=="")
    {
      showDialog("此字段映射已经添加",0);
        return;
    }
    }else{//支持多个，命名方式为phone~96,phone~2E等
        modelement_code=modelement_code+randomString(2);
        var vRet = HWPostil1.InsertNote(modelement_code,argObj.page,type,argObj.StartX,argObj.StartY,field_width,field_height);
        if(vRet==""){
          showDialog("此字段映射已经添加",0);
            return;
        }
    }

    font_size = font_size.replace(/pt/ig,"");
    font_color = font_size.replace(/#/ig,"0x00");
    HWPostil1.SetValue(modelement_code,":PROP::LABEL:"+edit_type);
    HWPostil1.SetValue(modelement_code,":PROP:BORDER:"+border);
    HWPostil1.SetValue(modelement_code,":PROP:FACENAME:"+font_family);
    HWPostil1.SetValue(modelement_code,":PROP:FONTSIZE:"+font_size);
    HWPostil1.SetValue(modelement_code,":PROP:FRONTCOLOR:"+font_color);
    HWPostil1.SetValue(modelement_code,":PROP:HALIGN:"+halign);
    HWPostil1.SetValue(modelement_code,":PROP:VALIGN:"+valign);
    HWPostil1.SetValue(modelement_code,":PROP:ROWKERNING:"+rowkerning);//行间距需要优化 jx20120731tianyang00

    argObj = null;
}
function NotifyLineAction(lPage,lStartPos,lEndPos){
    var lStartY = (lStartPos>>16)& 0x0000ffff;
    var lStartX = ((lStartPos<<16)>>16) & 0x0000ffff;

    var lEndY = (lEndPos>>16)& 0x0000ffff;
    var lEndX = ((lEndPos<<16)>>16) & 0x0000ffff;
    argObj = {"page":lPage,"StartX":lStartX,"StartY":lStartY,"EndX":lEndX,"EndY":lEndY};
    var url= "/views/modelMgr/modelFile/fieldSelect.html";
	
	
    util.openWin(url,"选择元素",800,600,"");
}
function openwin(winName,url){
    if(winName==""){
        winName="winnew";
    }
    //取得客户浏览器可用宽、高
    var h=window.screen.availHeight;
    var w=window.screen.availWidth;

    var features="height=400,width=350,resizable=yes,scrollbars=no,status=no,toolbar=no,menuber=no,left="+(w-700)/2+",top="+(h-400)/2;
    var ret = window.open(url,winName,features);
    return ret;
}
function updateInit(){
 util.showDialog("您确定要修改么?",3,update);
}
function update(opts){

        HWPostil1.HttpInit();
        HWPostil1.HttpAddPostString("modelfileId", $("#modelfileId").val());

        var NoteInfo, x = 0;
        while(NoteInfo=HWPostil1.GetNextNote("sys_admin",0,NoteInfo)){
            var index = NoteInfo.indexOf(".")+1;
            var message = NoteInfo.substring(index,NoteInfo.length);
            HWPostil1.HttpAddPostString("modelElements[" + x +"].modelementCode", message);
            x ++;
        }
        HWPostil1.HttpAddPostString("groupId", $("#groupId").val());
        HWPostil1.HttpAddPostString("modelType.typeId", $("#typeId").val());
        HWPostil1.HttpAddPostString("modelfileName", encodeURI($('#modelfileName').val()));
        HWPostil1.HttpAddPostCurrFile("uploadFile");
        var typeId=$("#typeId").val();
        if(typeId != '0'){
            var p = $('#opCode').val();
            HWPostil1.HttpAddPostString("opCode", p);
            var x = p.split(',');
            for (var i = 0; i < x.length; i ++){
                HWPostil1.HttpAddPostString("modelFileOpcodes[" + i +"].opCode", x[i]);
            }
        }
       var url = ctx+"/cfgmgr/cfg/modelFile/updateModelFile";
       var messages = HWPostil1.HttpPost(url);
         if(messages == 'success'){
          util.showDialog("修改成功！",1,function(){ util.removeTab();});
        }else{
          util.error("文件保存失败！");
        }

}

function randomString(length) {
    var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZ'.split('');
    if (! length) {
        length = Math.floor(Math.random() * chars.length);
    }
    var str = '';
    for (var i = 0; i < length; i++) {
        str += chars[Math.floor(Math.random() * chars.length)];
    }
    return str;
}

</script>

<script>
  function getModelInfo(){
    var url = ctx +"/cfgmgr/cfg/modelFile/updateAjax";
   var param={"modelfileId":getQueryString("modelfileId")};
   $.ajax({
         type:"POST",
         url:url,
         data:JSON.stringify(param),
         contentType:"application/json",
         xhrFields: {
             withCredentials: false //跨域session保持
           },
         async: true ,
         dataType:"json",
         success:function(data){
              var body=data.body;
              HWPostil1.LoadFileBase64(body.message);
              $("#typeName").val(body.typeName);
              $("#modelfileName").val(body.modelfileName);
              $("#opCode").val(body.opCode);
              $("#loginNo").val(body.loginNo);
               $("#opTime").val(body.opTime);
               $("#modelfileId").val(body.modelfileId);
               $("#typeId").val(body.modelType.typeId);
               $("#groupId").val(body.groupMsg.groupId);
              }
       });
  }




  function getQueryString(name) {
   var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
   var r = window.location.search.substr(1).match(reg);
   if (r != null) return unescape(r[2]); return null;
  }

</script>
</html>
