<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>模板文件申请</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-margin ">

			<form class="ag-form layui-form" ag-data-index="0">

				<div class="param-left">

					<div class="layui-inline ">
						<label class="layui-form-label">组织机构：</label>
						<div class="layui-input-block">
							<input type="text" name="groupId" lay-verify="title" autocomplete="off" placeholder="组织机构" class="layui-input">
						</div>
					</div>
				</div>


			</form>
 			<div class="btns-right">

				<div class="layui-inline">
					<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="queryBtn" ag-data-index="0" ag-data-ctx = "cfgmgr" ag-data-url="/cfg/modelFile/queryCListPages">
						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">查询</span>
					</button>

										<button class="ag-btn-reset layui-btn layui-btn-sm layui-btn-blue" ag-data-index="0" type="reset" >

						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">重置</span>
					</button>
				</div>


			</div>

		</div>




		<div class=" layui-card  layui-card-list" style="height: calc( 100vh - 105px);">

			<div class="layui-border-box ">

				<div class="layui-table-tool">
					<div class="layui-table-tool-temp">
 		    <div class="ag-btn-add layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800" ag-win-height="600" ag-win-title="新增" ag-data-url="/views/modelMgr/modelFile/modelFileAdd.html"><i class="layui-icon layui-icon-add-1"></i></div>
 			  <div class="ag-btn-update layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800" ag-win-height="600" ag-win-title="修改" ag-data-pk="modelfileId" ag-data-url="/views/modelMgr/modelFile/ModelFileUpdate.html"><i class="layui-icon layui-icon-edit"></i></div>
 			  <div class="ag-btn-delele layui-inline" lay-event ag-data-index="0" ag-data-pk="modelfileId" ag-data-ctx = "cfgmgr" ag-data-url="/cfg/modelment/del"><i class="layui-icon layui-icon-delete"></i></div>
		    <!-- 申请-->
        <div class="ag-btn-apply layui-inline" lay-event ag-data-index="0" ag-data-pk="modelfileId" ag-data-ctx = "cfgmgr" ag-data-url="/cfg/modelment/del"><i class="layui-icon layui-icon-ok"></i></div>
		    <!-- 作废-->
        <div class="ag-btn-abolish layui-inline" lay-event ag-data-index="0" ag-data-pk="modelfileId" ag-data-ctx = "cfgmgr" ag-data-url="/cfg/modelment/del"><i class="layui-icon layui-icon-close"></i></div>

          </div>
				</div>
			</div>
			<div style="display:none" class="ag-table-header" ag-data-index="0">

			    [
			      [
			        {
			          "type": "radio",
			          "fixed": "left"
			        }, {
			          "field": "modelfileId",
			          "title": "模板文件编码",
			          "sort": true,
			          "fixed": "left",
                "hide": false
			        }, {
			          "field": "modelfileName",
			          "title": "模板文件名称",
			          "sort": true,
			          "fixed": "left"
			        }, {
			          "field": "groupName",
			          "title": "组织机构"
			        }, {
			          "field": "opTimeString",
			          "title": "操作时间"
			        }, {
			          "field": "loginNo",
			          "title": "操作工号"
			        }, {
			          "field": "typeName",
			          "title": "模板类型"
			        }, {
			          "field": "opCode",
			          "title": "操作代码"
			        }, {
			          "field": "validValue",
			          "title": "状态描述"
			        }

			      ]
			    ]

			</div>
			<table class="ag-table layui-hide" id="demo" lay-filter="test" ag-data-index="0">

			</table>

			<div class="pagging ag-area-page">
				   
			</div>

		</div>

		<script>
  //删除
       $('.ag-btn-delele').click(function(e){
             var index = $(this).attr("ag-data-index");
             var tableId = $("table[ag-data-index="+index+"]").attr("id");
             var checkStatus = table.checkStatus(tableId);
             var data = checkStatus.data;  //获取选中行数据
            console.log(data);
            if(data.length == 0){

              util.warning('请选择一条数据库记录!');
              return ;
            }
             var pkCol = $(this).attr("ag-data-pk");
             var pkVal = data[0][pkCol];
             var validFlag=data[0]['validFlag'];
             if((validFlag.indexOf("Z")>=0)||(validFlag.indexOf("M")>=0)||(validFlag.indexOf("N")>=0)||(validFlag.indexOf("Y")>=0)){
                 					util.warning("此工单状态不可删除");
                 					//return false;
             	}
              var url = ctx +"/cfgmgr/cfg/modelFile/deleteAjax";
              modelAjax(url,pkVal,validFlag);
      });
      //申请
    $('.ag-btn-apply').click(function(e){
             var index = $(this).attr("ag-data-index");
             var tableId = $("table[ag-data-index="+index+"]").attr("id");
             var checkStatus = table.checkStatus(tableId);
             var data = checkStatus.data;  //获取选中行数据

            if(data.length == 0){

              util.warning('请选择一条数据库记录!');
              return ;
            }
             var pkCol = $(this).attr("ag-data-pk");
             var pkVal = data[0][pkCol];
             var validFlag=data[0]['validFlag'];
             if((validFlag.indexOf("Z")>=0)||(validFlag.indexOf("M")>=0)||(validFlag.indexOf("N")>=0)||(validFlag.indexOf("Y")>=0)){
                 					util.warning("此工单状态不可申请");
                 					 return false;
             	}
              var url = ctx +"/cfgmgr/cfg/modelFile/updateValidFlagAjax";
              modelAjax(url,pkVal,"Z");
      });
 //作废
    $('.ag-btn-abolish').click(function(e){
             var index = $(this).attr("ag-data-index");
             var tableId = $("table[ag-data-index="+index+"]").attr("id");
             var checkStatus = table.checkStatus(tableId);
             var data = checkStatus.data;  //获取选中行数据

            if(data.length == 0){

              util.warning('请选择一条数据库记录!');
              return ;
            }
             var pkCol = $(this).attr("ag-data-pk");
             var pkVal = data[0][pkCol];
             var validFlag=data[0]['validFlag'];
             if((validFlag.indexOf("Z")>=0)||(validFlag.indexOf("M")>=0)||(validFlag.indexOf("N")>=0)||(validFlag.indexOf("C")>=0)){
                 					util.warning("此工单状态不可作废");
                 				 return false;
             	}
              var url = ctx +"/cfgmgr/cfg/modelFile/updateValidFlagAjax";
              modelAjax(url,pkVal,"M");
      });
      function modelAjax(url,id,validFlag){
       var param={"modelfileId":id,"validFlag":validFlag};
       $.ajax({
             type:"POST",
             url:url,
             data:JSON.stringify(param),
             contentType:"application/json",
             xhrFields: {
                 withCredentials: false //跨域session保持
               },
             async: true ,
             dataType:"json",
             success:function(data){
             var result = data.result;
             var desc = data.desc;
             if(result == 0){
               util.success(desc);
             }
             }
           });
      }
		</script>
	</body>
</html>
