<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-form">

			<div class="layui-card-body">

				<form class="ag-form layui-form" ag-data-ctx="cfgmgr" ag-data-url="/cfg/appModelFile/addInit" ag-data-index="1">



					<div class="layui-inline ">
						<label class="layui-form-label">模板类型：</label>
						<div class="layui-input-block">
							<select name="typeId" id="typeId" lay-filter="typeId">
							</select>
						</div>
					</div>

					<div class="layui-inline ">
						<label class="layui-form-label">模板名称：</label>
						<div class="layui-input-block">
							<input type="text" id="modelfileName" name="modelfileName" ag-verify="required" autocomplete="off" placeholder="模板名称"
							 class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">操作代码：</label>
						<div class="layui-input-block">
							<input type="text" id="opCode" name="opCode" ag-verify="required" autocomplete="off" placeholder="操作代码" class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">组织机构：</label>
						<div class="layui-input-block">
							<input type="hidden" name="groupId" ag-verify="required" autocomplete="off"  class="layui-input">
							<input type="text" name="groupName" ag-tree-title="渠道选取" ag-verify="required" autocomplete="off" placeholder="渠道" class="layui-input ag-data-tree"   ag-tree-parent-key="parentGroupId"  ag-tree-key="groupId"   ag-tree-name="groupName" ag-tree-url="/sys/login/loadGroupTree" ag-tree-type="radio">
							
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">版本号：</label>
						<div class="layui-input-block">
							<select name="modelVersion" id="modelVersion">
							</select>
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">是否为可选协议：</label>
						<div class="layui-input-block">
							<select name="modelSelect" id="modelSelect">
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">上传附件：</label>
						<div class="ag-file" ag-file-module="appModelFile" ag-file-multiple='false' ag-file-max="4" ag-file-submit-key="fileId">
						</div>
					</div>

				</form>


			</div>

			<div class="layui-card-footer">

				<button class="ag-btn-save layui-btn layui-btn-sm layui-btn-normal " ag-data-ctx="cfgmgr" ag-data-url="/cfg/appModelFile/addModelFile"
				 ag-data-index="1">
					<i class="layui-icon layui-icon-ok-circle "></i>
					<span class="btn-span-middle">保存</span>
				</button>
				<button class="ag-btn-cancel layui-btn layui-btn-sm layui-btn-normal">
					<i class="layui-icon layui-icon-close "></i>
					<span class="btn-span-middle">取消</span>
				</button>
			</div>
		</div>

	</body>
</html>
