<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
		@@include('url-config.html')
	</head>

	<body>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<table id="ag-table" lay-filter="ag-table">

				</table>
				<div id="ag-area-page"> </div>
			</div>
		</div>
		</div>
		<script src="/static/js/bundle/actAllocation.js?v=1.0.0"></script>
	</body>

</html>
