<!DOCTYPE html>
<html>
	<head>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<style>


		.border-info{

		border: 1px solid #e1e4e3;
	}

	.dd-handle{

		font-size: 13px;
		text-indent:10px;
		letter-spacing:3px;
	}

	.dd-handle.dd-default {
	       color: #01AAED;
	       /* border: 1px dashed  #adc6fc; */
	       background: #ecf3ff;
	}

	.dd-handle.dd-default:hover{

		color: white;
		border: 1px dashed  #01AAED;
		background: #01AAED;

	}


	.dd-handle.dd-succ {
	      color: #7cc763;
	      /* border: 1px dashed #5FB878; */
	      background: #f3faf8;
	}

	.dd-handle.dd-succ:hover{

		color: white;
		border: 1px dashed #7cc763;
		background: #7cc763;
	}
	</style>
	<body class="bg-info">

		<div class="layui-card  border-info">

			<div class="layui-card-header layui-card-header-bb-2" style="height: 70px;line-height: 20px; padding-left: 0;padding-right: 8px;">
				<div style="float: left;line-height: 70px; padding-left: 20px;font-size: 15px;font-weight: bold;">

					接入类型业务配置
				</div>




			</div>
			<div class="dd" id="chnlChain1" style="overflow-y: auto;padding: 10px;">

			</div>

		</div>

		<input type="hidden" name="chnlType" />
		<input type="hidden" name="chnlTypeName" />
	</body>

	<script>
		$(function() {


			$(".dd").height($(window).height() - 125);

			buidEvent();

			var url = ctx + "/cfgmgr/cfg/settings/chnlCfgSts/updateInit";

			var param = util.getUrlParam();

			$("input[name=chnlType]").val(param.chnlType);

			$("input[name=chnlTypeName]").val(param.chnlTypeName);

			util.ajaxJson("页面加载中，请稍后...", url, {
				"chnlType": param.chnlType
			}, function(data) {

				if (data.result != "0") {

					util.showDialog("页面加载失败!", 0);

					return;
				}

				buildPage(data.body);

			});
		});


		function buidEvent() {


			$(document.body).delegate('.dd-item', 'click', function() {

				var json = $(this).data("json");

				$(".dd-item").removeClass("click-this");

				$(this).addClass("click-this");

				util.openWin(json.url, json.cfgName, 1000, 1000);

			});
		}

		function refreshSts(flag) {

			var json = $('.click-this').data("json");

			json.cfgSts = flag ? "1" : '0';

			json.cfgStsDesc = flag ? "已配置" : '未配置';

			var css = flag ? "dd-succ" : "dd-default";

			$('.click-this').find(".cfgStsDesc").html("【" + json.cfgStsDesc + "】").parent().removeClass("dd-default").removeClass(
				"dd-succ").addClass(css);

			var url = ctx + "/cfgmgr/cfg/settings/chnlCfgSts/updateSts";

			util.ajaxJson(undefined, url, json, function(data) {

				if (data.result != "0") {

					util.showDialog("刷新失败!", 0);

					return;
				}



			});

		}


		function buildPage(list) {

			var cfg = initDefaultCfgBean();

			$.each(list, function(i, item) {

				cfg[item.cfgKey] = $.extend(cfg[item.cfgKey], item);
			});

			var ol = $("<ol class='dd-list'> </ol>");

			for (var k in cfg) {

				var li = $("<li class='dd-item' > </li>");

				li.data("json", cfg[k]);

				var i = "<i>layui-icon-ok-circle</o";


				var handler = $('<div class="dd-handle ' + (cfg[k].cfgSts == '0' ? 'dd-default' : 'dd-succ') +
					'"><span class="cfgStsDesc">【' + cfg[k].cfgStsDesc + '】</span><span class="cfgName">' + cfg[k].cfgName +
					'</span></div>');

				li.append(handler);

				ol.append(li);
			}


			$("#chnlChain1").append(ol);

		}

		function initDefaultCfgBean() {

			var cfg = {

				"001": {
					"cfgKey": "001",
					"cfgName": '采集按钮',
					'url': '/views/cert/functionConfig.html?chnlType=@chnlType@&chnlTypeName=@chnlTypeName@&cfgType=0&cfgTypeName=证件采集'
				},
				"002": {
					"cfgKey": "002",
					"cfgName": '人证按钮',
					'url': '/views/cert/functionConfig.html?chnlType=@chnlType@&chnlTypeName=@chnlTypeName@&cfgType=1&cfgTypeName=人证比对'
				},
				"003": {
					"cfgKey": "003",
					"cfgName": '办理按钮',
					'url': '/views/cert/acceptfuncConfig.html?chnlType=@chnlType@&chnlTypeName=@chnlTypeName@&cfgType=1&cfgTypeName=办理按钮'
				},
				"004": {
					"cfgKey": "004",
					"cfgName": '调用链',
					'url': '/views/chnlchain/chnlchainConfig.html?chnlType=@chnlType@&chnlTypeName=@chnlTypeName@'
				},
				"005": {
					"cfgKey": "005",
					"cfgName": '前后映射',
					'url': '/views/paramMap/paramMapConfig.html?chnlType=@chnlType@&chnlTypeName=@chnlTypeName@&frontBackName=前台&frontBack=0'
				},
				"006": {
					"cfgKey": "006",
					"cfgName": '后台映射',
					'url': '/views/paramMap/paramMapConfig.html?chnlType=@chnlType@&chnlTypeName=@chnlTypeName@&frontBackName=后台&frontBack=1'
				},
				"007": {
					"cfgKey": "007",
					"cfgName": '格式转换',
					'url': '/views/paramFmt/paramFmtConfig.html?chnlType=@chnlType@&chnlTypeName=@chnlTypeName@'
				},
				"008": {
					"cfgKey": "008",
					"cfgName": '采集接入',
					'url': '/views/chnlCompare/chnlCompareConfig.html?chnlType=@chnlType@&chnlTypeName=@chnlTypeName@'
				}

			}

			for (var key in cfg) {

				cfg[key].cfgSts = "0";

				cfg[key].cfgStsDesc = "未配置";

				cfg[key].chnlType = $("input[name=chnlType]").val();

				cfg[key].chnlTypeName = $("input[name=chnlTypeName]").val();

				cfg[key].url = cfg[key].url.replace('@chnlType@', cfg[key].chnlType).replace('@chnlTypeName@', cfg[key].chnlTypeName);
			}

			return cfg;
		}
	</script>
</html>
