<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <link rel="stylesheet" href="/static/css/bundle/temp.css" />
    <script src="/static/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>


<link charset="utf-8" rel="shortcut icon" href="/static/images/index/logo.png" type="image/x-icon">
<link charset="utf-8" rel="stylesheet" href="/static/layui/css/layui.css?v=1.0.0">
<link charset="utf-8" rel="stylesheet" href="/static/css/bundle/main.css?v=1.0.0">
<link charset="utf-8" rel="stylesheet" href="/static/css/bundle/common.css?v=1.0.0">
<link charset="utf-8" rel="stylesheet" href="/static/css/libs/admin.css?v=1.0.0">
<link rel="stylesheet" href="/static/css/bundle/layuimini.css" media="all">
<link rel="stylesheet" href="/static/layui/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="/static/css/bundle/temp.css" media="all">
<style id="agile-color">

</style>
<script src="/static/js/libs/jquery-1.8.2.min.js?v=1.0.0"></script>

<!--[if IE]>
    <script src="/static/js/libs/html5.min.js"></script>
 <script src="/static/js/libs/respond.min.js"></script>
    <script src="/static/js/plugins/PIE.js?v=1.0.0"></script>
    <script src="/static/js/plugins/jq-placehoder.js?v=1.0.0"></script>

<![endif]-->
<script src="/static/js/plugins/jquery.xdomainrequest.min.js?v=1.0.0"></script>
<!-- <script src="/static/js/plugins/jquery-form.js?v=1.0.0"></script> -->
<script src="/static/layui/layui.js?v=1.0.0"></script>
<script src="/static/js/plugins/jquery.cookie.js?v=1.0.0"></script>
<script>
   var ht = location.pathname;
   
   if(ht.indexOf("/login-1.html")==-1){
   
       if(!util.getToken()){
   	
           location.href = "/views/login-1.html"
       }
   }
</script>
<script src="/static/js/api.config.js"></script>
<script src="/static/js/bundle/common.js?v=1.0.0"></script>
<script src="/static/js/bundle/util.js?v=1.0.0"></script>
<script src="/static/js/bundle/customform.js?v=1.0.0"></script>
<script src="/static/js/bundle/url.js?v=1.0.0"></script>
<script src="/static/layui/lay/lay-config.js?v=1.0.0"></script>

  </head>
  <body class="bg-info">

    <div class="layui-card layui-card-form">

      <div class="layui-card-body">

			<form class="ag-form layui-form" ag-data-index="1" ag-data-url="">



          <div class="layui-inline ">
            	<label class="layui-form-label">选项名称：</label>
            	<div class="layui-input-block">
            	<select name="tabname" ag-sel-name="tabname">
                <option value="2">信任站点</option>
                <option value="4">兼容性视图</option>
              <!--  <option value="0">高级</option>
                <option value="1">安全设置</option>

                <option value="3">隐私</option>
                <option value="4">兼容性视图</option>
                <option value="5">常规</option>-->
            	</select>
              </div>
            </div>
            <div class="layui-inline ">
              	<label class="layui-form-label">站点：</label>
              	<div class="layui-input-block">
              		<input type="text" name="http"  autocomplete="off" placeholder="站点" class="layui-input">
              	</div>
              </div>
         <!--   <div class="layui-inline ">
              	<label class="layui-form-label">标签选项：</label>
              	<div class="layui-input-block">
              		<input type="text" name="label"  autocomplete="off" placeholder="标签选项" class="layui-input">
              	</div>
              </div>
               <div class="layui-inline ">
                	<label class="layui-form-label">按钮类型：</label>
                	<div class="layui-input-block">
                		<select name="type" ag-sel-name="type">
                		  <option value="1">复选框</option>
                		  <option value="2">单选按钮</option>
                      <option value="3">信任站点</option>
                      <option value="4">兼容性视图</option>
                		</select>
                	</div>
                </div>
          	<div class="layui-inline ">
          	  	<label class="layui-form-label">是否启用：</label>
          	  	<div class="layui-input-block">
          	  		<select name="checkFlag" ag-sel-name="checkFlag">
                    <option value="0">启用</option>
                    <option value="1">不启用</option>
                  </select>
          	  	</div>
          	  </div>
              <div class="layui-inline ">
                	<label class="layui-form-label">标签状态：</label>
                	<div class="layui-input-block">
                		<select name="validflag" ag-sel-name="validflag">
                      <option value="N">失效</option>
                      <option value="Y">正常</option>
                    </select>
                	</div>
                </div>

              <div class="layui-inline ">
              	<label class="layui-form-label">选项分组：</label>
              	<div class="layui-input-block">
              		<input type="text" name="radiogroupname"  autocomplete="off" placeholder="选项分组" class="layui-input">
              	</div>
              </div>
-->
			</form>

			<!--xiacj 说明:注意按钮工具栏不要放到form表单中,查询ajax请求和出发form表单提交,导致url方式变化,导致ajax请求状态为canceld-->
			<div class="layui-card-footer">

			 <div class="layui-inline">
			      <button class="ag-btn-save layui-btn layui-btn-sm layui-btn-blue" ag-data-url="/sys/ieconfig/ieAdd"  ag-data-index="1">
			        <i class="layui-icon layui-icon-search"></i>
			        <span class="btn-span-middle">保存</span>
			      </button>

			      <button class="ag-btn-cancel layui-btn layui-btn-sm layui-btn-blue">
			        <i class="layui-icon layui-icon-search "></i>
			        <span class="btn-span-middle">取消</span>
			      </button>
			    </div>
			</div>

		</div>





	</body>
</html>
