<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-margin ">

			<form class="ag-form layui-form" ag-data-index="0">

				<div class="param-left">

					<div class="layui-inline ">
						<label class="layui-form-label">元素代码：</label>
						<div class="layui-input-block">
							<input type="text" name="modelementCode" lay-verify="title" autocomplete="off" placeholder="元素代码" class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">元素名称：</label>
						<div class="layui-input-block">
							<input type="text" name="modelementName" lay-verify="title" autocomplete="off" placeholder="元素名称" class="layui-input">
						</div>
					</div>

				</div>


			</form>

			<!--xiacj 说明:注意按钮工具栏不要放到form表单中,查询ajax请求和出发form表单提交,导致url方式变化,导致ajax请求状态为canceld-->
			<div class="btns-right">

					<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="queryBtn"
					 ag-data-index="0" ag-data-ctx="cfgmgr" ag-data-url="/cfg/modelment/queryPage">
						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">查询</span>
					</button>

					<button class="ag-btn-reset layui-btn layui-btn-sm layui-btn-blue" ag-data-index="0" type="reset">

						<i class="layui-icon layui-icon-refresh "></i>
						<span class="btn-span-middle">重置</span>
					</button>


			</div>

		</div>




		<div class=" layui-card  layui-card-list" style="height: calc( 100vh - 105px);">

			<div class="layui-border-box ">

				<div class="layui-table-tool">
					<div class="layui-table-tool-temp">
						<div class="ag-btn-add layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800" ag-win-height="600"
						 ag-win-title="元素新增" title="新增" ag-data-url="/views/modelMgr/modelElement/modelElementAdd.html"><i class="layui-icon layui-icon-add-1"></i></div>
						<div class="ag-btn-update layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800"
						 ag-win-height="600" ag-win-title="元素修改" title="修改" ag-data-pk="modelementId" ag-data-url="/views/modelMgr/modelElement/modelElementUpdate.html"><i
							 class="layui-icon layui-icon-edit"></i></div>
						<div class="ag-btn-del layui-inline" title="删除" lay-event ag-data-index="0" ag-data-pk="modelementId" ag-data-ctx="cfgmgr"
						 ag-data-url="/cfg/modelment/del"><i class="layui-icon layui-icon-delete"></i></div>
					</div>

				</div>

			</div>

			<div style="display:none" class="ag-table-header" ag-data-index="0">

				[
				[
				{
				"type": "radio",
				"fixed": "left"
				}, {
				"field": "modelementId",
				"title": "modelementId",
				"sort": true,
				"fixed": "left",
				"hide": true
				}, {
				"field": "modelementCode",
				"title": "元素代码",
				"sort": true,
				"fixed": "left"
				}, {
				"field": "modelementName",
				"title": "元素名称"
				}, {
				"field": "validFlag",
				"title": "是否有效"
				}, {
				"field": "opTime",
				"title": "操作时间"
				}

				]
				]

			</div>
			<table class="ag-table layui-hide" id="demo" lay-filter="test" ag-data-index="0">

			</table>

			<div class="pagging ag-area-page">

			</div>

		</div>

		<script>

		</script>
	</body>
</html>
