<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @@include('url-config-win.html')
</head>

<body>
  <form class="layui-form mt20" lay-filter="winId">
    <div class="layui-form-item">
        @@include('input.html',{"title":"公告名称","name":"notice_name","verify":"requiredM"})
        
    </div>
    <!-- <div class="layui-form-item">
        @@include('inputAndBtn.html',{"title":"组织机构","name":"elemName","verify":""})
        
    </div> -->
    <div class="layui-form-item">
        
        @@include('textarea.html',{"title":"公告内容","name":"notice_content","verify":"requiredM"})
    </div>
     
  </form>

  <script src="/dist/static/js/bundle/noticeManagementWin.js?v=201809271123"></script>
</body>

</html>
