<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-margin ">

			<form class="ag-form layui-form" ag-data-index="0" ag-data-ctx="sysmgr" ag-data-url="/sys/equipment/dequipmentmodels/queryInit" >

				<div class="param-left">

					<div class="layui-inline ">
						<label class="layui-form-label">设备类型：</label>
						
						<div class="layui-input-block">
							<select name="typeCode" ag-select-name="typeName">
								
							</select>
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">设备厂商：</label>
						<div class="layui-input-block">
							<select name="companyId" ag-select-name="companyName">
								
							</select>
						</div>
					</div>
					
				</div>


			</form>

			<!--xiacj 说明:注意按钮工具栏不要放到form表单中,查询ajax请求和出发form表单提交,导致url方式变化,导致ajax请求状态为canceld-->
			<div class="btns-right">

					<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-normal" 
					 ag-data-index="0" ag-data-ctx="sysmgr"  ag-data-url="/sys/equipment/dequipmentmodels/queryPage">
						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">查询</span>
					</button>

					<button class="ag-btn-reset layui-btn layui-btn-sm layui-btn-normal" ag-data-index="0" type="reset" >
						<i class="layui-icon layui-icon-refresh "></i>
						<span class="btn-span-middle">重置</span>
					</button>


			</div>

		</div>




		<div class=" layui-card  layui-card-list" style="height: calc( 100vh - 105px);">

			<div class="layui-border-box ">

				<div class="layui-table-tool">
					<div class="layui-table-tool-temp">
						<div class="ag-btn-add layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800" ag-win-height="600"
						 ag-win-title="设备型号新增" ag-data-url="/views/equipment/equipmentAdd.html"><i class="layui-icon layui-icon-add-1"></i></div>
						<div class="ag-btn-update layui-inline" lay-event ag-data-index="0" ag-win-id="0" ag-win-width="800"
						 ag-win-height="600" ag-win-title="ftp修改" ag-data-pk="modelId" ag-data-url="/views/equipment/equipmentUpdate.html"><i
							 class="layui-icon layui-icon-edit"></i></div>
						<div class="ag-btn-del layui-inline" lay-event ag-data-index="0" ag-data-ctx="sysmgr"  ag-data-pk="modelId" ag-data-url="/sys/equipment/dequipmentmodel/del"><i
							 class="layui-icon layui-icon-delete"></i></div>
					</div>

				</div>

			</div>

			<div style="display:none" class="ag-table-header" ag-data-index="0">

				[
					[{
						"type": "radio",
						"fixed": "left"
					},  {
						"field": "typeCode",
						"title": "设备类型编码",
						"hide":true
					}, {
						"field": "typeName",
						"title": "设备类型"
					}, {
						"field": "companyId",
						"title": "设备厂商编码",
						"hide":true
					}, {
						"field": "companyName",
						"title": "设备厂商"
					}, {
						"field": "modelCode",
						"title": "设备型号"
					}, {
						"field": "opTime",
						"title": "创建时间"
					}, {
						"field": "loginNo",
						"title": "创建人"
					}, {
						"field": "opType",
						"title": "操作类型"
					}]
				]

			</div>
			<table class="ag-table layui-hide" id="demo" lay-filter="test" ag-data-index="0">

			</table>

			<div class="pagging ag-area-page">
				   
			</div>

		</div>

		<script>

		</script>
	</body>
</html>
