<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>无纸化集中业务管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	<body class="bg-info" >

		<div class="layui-card layui-card-margin ">

			<form class="ag-form layui-form" ag-data-index="0">

				<div class="param-left">

					<div class="layui-inline ">
						<label class="layui-form-label">开始时间：</label>
						<div class="layui-input-block">
							<input type="text" name="opTimeFrom" ag-verify="required" placeholder="开始时间" autocomplete="off" class="ag-date layui-input"
							 ag-date-format="datetime">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">结束时间：</label>
						<div class="layui-input-block">
							<input type="text" name="opTimeTo" ag-verify="required" placeholder="结束时间" autocomplete="off" class="ag-date layui-input"
							 ag-date-format="datetime">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">证件号码：</label>
						<div class="layui-input-block">
							<input type="text" name="certNo" autocomplete="off" placeholder="证件号码" class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">工号：</label>
						<div class="layui-input-block">
							<input type="text" name="workNo" autocomplete="off" placeholder="工号" class="layui-input">
						</div>
					</div>
					<div class="layui-inline ">
						<label class="layui-form-label">手机号：</label>
						<div class="layui-input-block">
							<input type="text" name="phoneNo" autocomplete="off" placeholder="手机号" class="layui-input">
						</div>
					</div>

				</div>


			</form>

			<!--xiacj 说明:注意按钮工具栏不要放到form表单中,查询ajax请求和出发form表单提交,导致url方式变化,导致ajax请求状态为canceld-->
			<div class="btns-right">

					<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="queryBtn"
					 ag-data-index="0" ag-data-ctx="realnameMgr" ag-data-url="/realname/cRealCust/queryCRealCustInfoListPage">
						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">查询</span>
					</button>

					<button class="ag-btn-reset layui-btn layui-btn-sm layui-btn-blue" ag-data-index="0" type="reset" >
						<i class="layui-icon layui-icon-search "></i>
						<span class="btn-span-middle">重置</span>
					</button>


			</div>

		</div>




		<div class=" layui-card  layui-card-list" style="height: calc( 100vh - 105px);">

			<div class="layui-border-box ">

				<div class="layui-table-tool">
					

				</div>

			</div>

			<div style="display:none" class="ag-table-header" ag-data-index="0">

				[
				[
				{
				"type": "radio",
				"fixed": "left"
				},{
				"field": "id",
				"title": "编号",
				"sort": true,
				"hide":true
				}, {
				"field": "workNo",
				"title": "工号"
				}, {
				"field": "outAccept",
				"title": "外部流水"
				}, {
				"field": "phoneNo",
				"title": "手机号"
				}, {
				"field": "imageTypeName",
				"title": "图片类型"
				}, {
				"field": "certNo",
				"title": "身份证号"
				}, {
				"field": "certName",
				"title": "客户姓名"
				}, {
					"width": 120,
					"title": "操作",
					"fixed": "right",
					"btns": [

						{
							"className": "",
							"openTitle":"证件预览",
							"btnVal":"预览",
							"url": "/views/realcustinfo/realCustInfoShow.html?id=@id@",
							"openType": "1"
							},
						{
					"className": "",
					"openTitle":"证件下载",
					"btnVal":"下载",
					"url": "@ctx@/realnameMgr/realname/cRealCust/download?id=@id@",
					"openType": "0"
				  }]
				}

				]
				]

			</div>
			<table class="ag-table layui-hide" id="demo" lay-filter="test" ag-data-index="0">

			</table>

			<div class="pagging ag-area-page">
				   
			</div>

		</div>

		<script>

		</script>
	</body>
</html>
