<!DOCTYPE html>
<html>
	<head>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
		<script  src="/static/js/plugins/nestable/jquery.nestable.js"></script>
	</head>
	<style>


	.border-info{

		border: 1px solid #e1e4e3;
	}

	</style>
	<body class="bg-info">

		<div class="layui-card  border-info">

			<div class="layui-card-header layui-card-header-bb-2" style="height: 70px;line-height: 20px; padding-left: 0;padding-right: 8px;">
				<div style="float: left;line-height: 70px; padding-left: 20px;font-size: 15px;font-weight: bold;">

					业务受理调用链配置
				</div>

				<div style="border-left: 2px solid #e1e4e3;float: right;margin: 5px;">

					<div class="card-btn" style="margin-left: 10px;" onclick="save()">
						<div class="card-btn-img img-save"></div>
						<div class="card-btn-desc">
							保存
						</div>
					</div>

				</div>


			</div>
			<div class="layui-card-body">

				<div class="layui-row">

					<div class="layui-col-sm4 " style="padding-right: 15px;">

						<div class="layui-card border-info" >

							<div class="layui-card-header " style="font-weight: bold;">

								可选组件
								<!-- <div style="float: right;">
									<i class="layui-icon layui-icon-addition" style="font-size: 30px; color: #1E9FFF;"></i>
								</div> -->
							</div>
							<div class="layui-card-body" style="padding: 10px;">

								<div class="dd" id="chnlChain1" style="overflow-y: auto;">

									</div>
							</div>

						</div>
					</div>
					<div class="layui-col-sm4 " style="">
						<div class="layui-card border-info" >

							<div class="layui-card-header" style="font-weight: bold;">

								已选组件
							</div>
							<div class="layui-card-body" style="padding: 10px;">
								<div class="dd" id="chnlChain2" style="overflow-y: auto;"></div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>

		<input type="hidden" name ="chnlType" />
		<input type="hidden" name ="chnlTypeName" />
	</body>

	<script>


		$(function(){

			var url = ctx+"/cfgmgr/cfg/settings/chnlchains/updateInit";

			var param = util.getUrlParam();

			$("input[name=chnlType]").val(param.chnlType);

			$("input[name=chnlTypeName]").val(param.chnlTypeName);

			util.ajaxJson("页面加载中，请稍后...",url,{"chnlType":param.chnlType},function(data){

				if(data.result != "0"){

					util.showDialog("页面加载失败!",0);

					return ;
				}

				var chainComponentList = data.body.chainComponentList;

				var cfgChnlChainList = data.body.cfgChnlChainList;


				$('#chnlChain1').nestable({
					group: 1,
					maxDepth:1,
					rmSourceItem:false,
					itemKey:"compName",
					itemName:'compNameCn',
					data:chainComponentList
				});

				$('#chnlChain2').nestable({
					group: 1,
					maxDepth:1,
					dragFlag:true,//是否允许拖拽
					addItemCloseBtn:true,//是否添加删除按钮
					itemKey:"compName",
					itemName:'compNameCn',
					data:cfgChnlChainList
				});
			});
		});




		function save(){

			var arr  = $('#chnlChain2').nestable('getItemData');

			for(var i = 0 ; i < arr.length ; i++){

				arr[i].chnlType = $("input[name=chnlType]").val();
				arr[i].chnlTypeName = $("input[name=chnlTypeName]").val();
				arr[i].outFlag="0";
				arr[i].outFlagName="外部接入";
			}

			var array = arr;
			
			var url = ctx+"/cfgmgr/cfg/settings/chnlchains/update";


			util.ajaxJson("保存中，请稍后···",url,{"chnlType":$("input[name=chnlType]").val(),"cfgChnlChainList":array},function(data){

				if(data.result != "0"){

					util.error("保存失败!");

				}else{

					util.success("保存成功!");
					
					parent.refreshSts(array.length > 0 ? true :false );

				}



			});
		}



		$(".dd").height($(window).height()-200);



	</script>
</html>
