/**
 * 背景颜色,灰色
 */
.bg-info {

	background-color: #f2f3f7;
}


.layui-card-margin {
	margin: 15px;
	padding-top: 15px;
	position: relative;
}

.layui-card-form {

	margin: 15px;
	padding: 30px 0px;

	padding-bottom: 5px;
	position: relative;

}

.layui-card-form .layui-inline {

	margin-bottom: 25px;

}

.layui-card-footer {

	border-top: 1px solid #e6e6e6;

	padding: 15px 15px 10px 15px;

	text-align: right;

}



.layui-input-block-tips {

	position: absolute;
	top: 23px;
	left: 110px;
	font-size: 10px;
}

.param-left {
	margin-right: 200px;
}

.btns-right {
	float: right;
	width: 200px;
	text-align: right;
	margin-top: -45px;
	margin-right: 10px;
}

.layui-card-margin .layui-inline {

	margin-bottom: 15px;
}

.ztree-left {

	position: absolute;
	width: 300px;
	top: 90px;
	left: 15px;
	bottom: 0px;
}

.query-right {

	position: absolute;
	top: 90px;
	right: 15px;
	left: 320px;
	bottom: 0px;
}

body {

	font-family: PingFang SC;
}




.layui-inline-search {
	display: block;
	position: relative;

}

.layui-input-block-search>button.layui-btn {

	margin-top: -30px;

	float: right;

	border-top-left-radius: 0;

	border-bottom-left-radius: 0;
}

.layui-inline-search>input.layui-input {

	padding-right: 50px;
	width: 100%;

	border-top-right-radius: 0;

	border-bottom-right-radius: 0;
}

.layui-inline-search>button.layui-btn {

	margin-top: -30px;

	float: right;

	border-top-left-radius: 0;

	border-bottom-left-radius: 0;
}



.layui-btn-blue {
	border: 1px solid #0b82ff;
	background-color: #fff;
	color: #0b82ff;

}

.layui-card-list {

	position: relative;

	margin: 15px;

}

.btn-span-middle {
	float: right;
	top: -10px;
}

.layui-btn-blue:hover {
	border-color: #0b82ff;
	background-color: #0b82ff;
	color: #fff
}

.layui-table,
.layui-table-view {

	margin: 0;
}

.layui-table-tool {

	background-color: white;
}


.ag-area-page {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 10px;

	border-top: 1px solid #e6e6e6;
}

.ag-area-page>* {

	margin: 0px 5px;


}

/**
 * 证件采集相关样式  start 2020-2-19 16:06:01
 */

.card-btn {
	border: 1px solid white;
	background: none;
	display: inline-block;
	width: 70px;
}

.card-btn-img {
	height: 40px;
	width: 40px;
	text-align: center;
	margin: 0 auto;
}

.card-btn:hover {
	border: 1px solid #80D5F5;
	background-color: #E4F6FD;
	cursor: pointer;
}

.card-btn-desc:hover {
	color: #77c7fe;
	font-weight: 500;
}

.card-btn-desc {
	font-weight: 700;
	text-align: center;
	margin: 0px auto;
	font-size: 12px;
	color: #605e5e;
}

.img-cert-idcard {

	background: url("../../images/face/idcard_40.png") no-repeat center top;
}

.img-cert-photograph {

	background: url("../../images/face/photograph_40.png") no-repeat center top;
}

.img-del {

	background: url("../../images/face/del_40.png") no-repeat center top;
}

.img-save {

	background: url("../../images/face/keep_40.png") no-repeat center top;
}

.img-default-face {
	width: 83px;
	height: 94px;
	background: url("../../images/face/default-face_83.png") no-repeat center top;
}

.img-cert-card-front {
	width: 316px;
	height: 200px;
	background: url("../../images/face/cardfront_200.png") no-repeat center top;
}

.img-cert-card-back {
	width: 320px;
	height: 200px;
	background: url("../../images/face/cardback_200.png") no-repeat center top;
}

.layui-card-static {

	margin: 15px;

	position: relative;

}



.cert-table {

	width: 100%;
	table-layout: fixed;

}

.cert-table tr {

	padding-top: 10px;
}

.cert-table th {

	text-align: right;
	font-weight: 300;
	color: rgba(185, 189, 193, 1);
}

.cert-table td {

	height: 30px;
	text-align: left;
}


.card-dk-left-split {

	height: 50%;
	position: relative;

}

.card-dk-right-type .layui-btn {

	margin-left: 20px;
}

.card-btn-right {

	float: right;
	margin-top: -66px;
	border-left: 2px solid #e1e4e3;
	padding-left: 5px;
}


.cert-table td {
	height: 35px !important;
}


.card-auto {
	height: 450px;
	width: 752px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -376px;
	margin-top: -250px;

}

.card-photo-left {

	float: left;
	width: 380px;
	height: 100%;
	margin: 0px 10px;
	background-color: #fafafe;
	border: 1px solid rgba(169, 176, 183, 1);
}

.card-photo-right {
	float: left;

	border: 1px dashed #bcbfbe;
	width: 348px;
	height: 200px;
}

.card-dk-left {
	float: left;
	width: 400px;
	height: 100%;
}

.card-dk-right {
	float: left;
	background-color: #fafafe;
	border: 1px dashed #bcbfbe;
	width: 350px;
	height: 100%;
}

.card-dk-right-type {

	padding: 20px;
}

.card-dk-right-img {

	width: 83px;
	height: 94px;
	margin-left: 40px;
}

.card-dk-left-btns {

	text-align: center;

	margin-left: -60px;
}

.layui-card-header-bb-2{
	
	border-bottom: 2px solid #9bb8d2;
}

/**
 * 证件采集相关样式  end 2020-2-19 16:06:01
 */

 /**
 *tab样式修改
 */
 .ag-tab .layui-this span{
	display: inline-block;
	line-height: 30px;
	border-bottom: 2px solid #0b82ff;
	color:#0b82ff;
  }
  .ag-tab .layui-this:after{
	border: none;
  }