<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>精准营销-管理新增</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/layui/css/layui.css" />
  <link rel="stylesheet" href="/static/css/bundle/temp.css" />
  @@include('url-config.html')
</head>
<body class="bg-info">
<div class="layui-card layui-card-margin ">
  <form class="ag-form layui-form" ag-data-index="0">
    <div class="param-left">
      <input type="hidden" name="groupId" id="groupId" value="">
      <input type="hidden" name="productType" id="productType" value="">
      <input type="hidden" name="viewType" id="viewType" value="">
      <div class="layui-inline ">
        <label class="layui-form-label">播放序号：</label>
        <div class="layui-input-block">
          <input id="mediaNo" type="text" name="mediaNo"  autocomplete="off" placeholder="播放序号" class="layui-input">
        </div>
      </div>
      <div class="layui-inline ">
        <label class="layui-form-label">资源名称：</label>
        <div class="layui-input-block">
          <input id="mediaName" type="text" name="mediaName"  autocomplete="off" placeholder="资源名称" class="layui-input">
        </div>
      </div>
      <div class="layui-inline ">
        <label class="layui-form-label">素材文件：</label>
        <div class="layui-input-block">
          <div class="ag-file" style="width: 100%!important;margin-left: 0px;" ag-file-iframe-add-url="/sys/media-list/upload" ag-file-name-savename="" ag-file-module="marketPic" ag-file-multiple ='flase' ag-file-max="1"  ag-file-submit-key ="marketPic">
          <input id="ag-file-name-savename" type="hidden" name="savename">
        </div>
      </div>
    </div>
    </div>
  </form>
  <!--xiacj 说明:注意按钮工具栏不要放到form表单中,查询ajax请求和出发form表单提交,导致url方式变化,导致ajax请求状态为canceld-->
  <div class="btns-right">
    <div class="layui-inline" style="width: 100%;">
      <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit  ag-data-index="0" onclick="save();">
        <i class="layui-icon layui-icon-add-1"></i>
        <span class="btn-span-middle">添加</span>
      </button>
      <button class="ag-btn-reset layui-btn layui-btn-sm layui-btn-blue" ag-data-index="0" onclick="parent.closePage();">
        <i class="layui-icon layui-icon-refresh-3"></i>
        <span class="btn-span-middle">重置</span>
      </button>
    </div>
  </div>
</div>
<script>

  $(function () {
    var param = util.getUrlParam();
    console.log("productType>>>"+param.productType);
    console.log("groupId>>>"+param.groupId);
    console.log("viewType>>>"+param.viewType);
    $("#productType").val(param.productType);
    $("#groupId").val(param.groupId);
    $("#viewType").val(param.viewType);
  })
  /**
   * 保存方法
   */
  function save(){
    var mediaNo = $("#mediaNo").val();
    var saveName = $(".ag-file-item-li").eq(0).data("ag-file-name-savename");
    alert(saveName);
    var mediaName = $("#mediaName").val();
    var viewType = $("#viewType").val();
    var productType = $("#productType").val();
    var groupId = $("#groupId").val();
    var url = ctx+"/sysmgr/sys/media-list/manage-add";
    util.ajaxJson("保存中，请稍候···",url,{"mediaNo":mediaNo,"fileName":saveName,"mediaName":mediaName,"viewType":viewType,"productType":productType,"groupId":groupId},function(data){
      if(data.result != "0"){
        util.error("保存失败!");
      }else{
        util.success("保存成功!");
        //跳转到管理界面，重新初始化界面
        var productType = $("#productType").val();
        var groupId = $("#groupId").val();
        var viewType = $("#viewType").val();
        var params = "productType="+productType+"&groupId="+groupId+"&viewType="+viewType
        var index = $(this).attr("ag-data-index");
        var url = "/views/marketing/markettManage.html?"+params;
        var winId = 0;
        var title = "管理 ";
        var agCtx = util.getAgCtx(this);

        //url = apiConfig[agCtx + "_web"] + url;

        pageIndex  = util.addTab(url, title);
      }
    });
  }
</script>
</body>
</html>
