<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <link charset="utf-8" rel="shortcut icon" href="/static/images/index/logo.png" type="image/x-icon">
  <link charset="utf-8" rel="stylesheet" href="/static/layui/css/layui.css?v=1.0.0">
  <link charset="utf-8" rel="stylesheet" href="/static/css/bundle/main.css?v=1.0.0">
  <link charset="utf-8" rel="stylesheet" href="/static/css/bundle/common.css?v=1.0.0">
  <link charset="utf-8" rel="stylesheet" href="/static/css/libs/admin.css?v=1.0.0">
  <link rel="stylesheet" href="/static/css/bundle/layuimini.css" media="all">
  <link rel="stylesheet" href="/static/layui/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
  <link rel="stylesheet" href="/static/css/bundle/temp.css" media="all">
  <style id="agile-color">

  </style>
  <script src="/static/js/libs/jquery-1.8.2.min.js?v=1.0.0"></script>

  <!--[if IE]>
  <script src="/static/js/libs/html5.min.js"></script>
  <script src="/static/js/libs/respond.min.js"></script>
  <script src="/static/js/plugins/PIE.js?v=1.0.0"></script>
  <script src="/static/js/plugins/jq-placehoder.js?v=1.0.0"></script>
  <script src="/static/js/libs/json2.js?v=1.0.0"></script>
  <![endif]-->
  <script src="/static/js/plugins/jquery.xdomainrequest.min.js?v=1.0.0"></script>
  <!-- <script src="/static/js/plugins/jquery-form.js?v=1.0.0"></script> -->
  <script src="/static/layui/layui.js?v=1.0.0"></script>
  <script src="/static/js/plugins/jquery.cookie.js?v=1.0.0"></script>
  <script src="/static/js/api.config.js"></script>
  <script src="/static/js/bundle/common.js?v=1.0.0"></script>
  <script src="/static/layui/lay/lay-config.js?v=1.0.0"></script>

</head>
<style>
  .image_four{
    width:49%;
  }
  .image_one{
    width:100%;
    height: 100%;
  }
</style>
<body>
<div class="layui-carousel" id="test10">
  <div id="imageShowArea" carousel-item="">
    <div><img class="image_four" src="https://t8.baidu.com/it/u=2247852322,986532796&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1585732418&t=2b7cd8295b14c127c4ce40e0327b0bda"/><img class="image_four" src="https://t8.baidu.com/it/u=2247852322,986532796&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1585732418&t=2b7cd8295b14c127c4ce40e0327b0bda"/><img class="image_four" src="https://t8.baidu.com/it/u=2247852322,986532796&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1585732418&t=2b7cd8295b14c127c4ce40e0327b0bda"/><img class="image_four" src="https://t8.baidu.com/it/u=2247852322,986532796&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1585732418&t=2b7cd8295b14c127c4ce40e0327b0bda"/></div>
    <div>
      <img class="image_four" src="https://t8.baidu.com/it/u=2247852322,986532796&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1585732418&t=2b7cd8295b14c127c4ce40e0327b0bda"/>
      <img class="image_four"  src="https://t8.baidu.com/it/u=2247852322,986532796&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1585732418&t=2b7cd8295b14c127c4ce40e0327b0bda"/>
      <img class="image_four" src="https://t8.baidu.com/it/u=2247852322,986532796&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1585732418&t=2b7cd8295b14c127c4ce40e0327b0bda"/>
      <img class="image_four"  src="https://t8.baidu.com/it/u=2247852322,986532796&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1585732418&t=2b7cd8295b14c127c4ce40e0327b0bda"/>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
  var clientHeight = "800";
  var clientWeight = "800";
  $(function(){
    var param = getUrlParam();
    var url = apiConfig.ctx + "/sysmgr/sys/media-list/query-play-content";
    $.ajax({
      type: "POST",
      url: url,
      data: JSON.stringify({"params":param.params}),
      contentType: "application/json;charset=UTF-8",
      xhrFields: {
        withCredentials: false //跨域session保持
      },
      async: true,
      dataType: "json",
      success: function(page) {
        disLoad();
        //设置默认值
        var viewType = 1;
        if(page.result != "0"){
          util.error("查询遇到点问题!");

        }else {
          //util.success("查询成功!");
          var resultData = page.resultData;
          viewType = page.viewType;
          $("#imageShowArea").empty();
          var className = "";
          if ('4' == viewType) {
            className = "image_four";
          } else {
            className = "image_one";
          }
          var dataLength = resultData.length;
          if(dataLength<=0){
            var domStr = "";
            domStr = domStr + "<div>";
            var imageUrl = "../../static/images/yidong5G.jpg";
            domStr = domStr + "<img class=\""+className+"\" onclick=\"saveClick(\'"+clickValue+"\');\" src=\""+imageUrl+"\"/>";
            domStr = domStr + "</div>";
            $("#imageShowArea").append(domStr);
          }else{
            var pageSize = parseInt(dataLength/viewType);
            var remainder = dataLength%viewType;
            if(remainder>0){
              pageSize = pageSize+1;
              //获取需要补充的张数,每页宫格数减去余数
              var replenish = viewType - remainder;
              for (var i=0;i<replenish;i++){
                resultData[dataLength+i] = resultData[i];
              }
            }
            var z = 0;
            var imageUrl = "../../static/images/yidong5G.jpg";
            for (var i = 0; i < pageSize; i++) {
              var domStr = "";
              domStr = domStr + "<div>";
              for (var j = 0; j < viewType; j++) {
                imageUrl = "data:image/jpg;base64,"+resultData[z].imageBase64;
                var clickValue  = resultData[z].idDes;
                domStr = domStr + "<img class=\""+className+"\" onclick=\"saveClick(\'"+clickValue+"\');\" src=\""+imageUrl+"\"/>";
                z++;
              }
              domStr = domStr + "</div>";
              $("#imageShowArea").append(domStr);
            }
          }
          initPlayContent();
          $(".image_four").css("height", ($(window).height() / 2) + "px");
          $(".image_four").css("width", ($(window).width() / 2) + "px");
        }
      },
      error: function() {
        disLoad();
      }
    });
  });

  function saveClick(value) {
    if(value!=''){
      var url = apiConfig.ctx + "/sysmgr/sys/media-list/customer-click";
      var param = {"params":value};
      $.ajax({
        type: "POST",
        url: url,
        data: JSON.stringify(param),
        contentType: "application/json;charset=UTF-8",
        xhrFields: {
          withCredentials: false //跨域session保持
        },
        async: true,
        dataType: "json",
        success: function(page) {

        },
        error: function() {
          disLoad();
        }
      });
    }

  }

  function doRealDownLoad(url) {
    var action = url;
    var form = $("<form></form>").attr("action", action).attr("method", "post");
    form[0].target = "downloadHidenFr";
    form.appendTo('body').submit().remove();
  }


  // var fs = require("fs");
  // var request = require('request');
  // //url：下载链接
  // //fileName：资源下载后保存的名字
  // //callback：下载完成后的回调方法
  // _downloadFileToServer(url, fileName, callback){
  //   var stream = fs.createWriteStream(fileName);
  //   request(url).pipe(stream).on('close', callback);
  // }

  function disLoad() {
    $(".datagrid-mask").remove();
    $(".datagrid-mask-msg").remove();
  }

  function getUrlParam() {
    var param = {};
    try {
      var queryStr = window.location.search.substr(1);
      $.each(queryStr.split("&"), function(i, t) {
        var arr = t.split("=");
        if (!isNull(arr[0]) && arr.length == 2) {
          param[arr[0]] = decode(arr[1]);
        }
      });
    } catch (e) {
      // console.log(e);
    }
    return param;
  }

  function isNull(val) {

    if (val == null || val == undefined || val == "" || val == "undefined" ||
      val == "null") {
      return true;
    } else {
      return false;
    }
  }

  function decode(url) {
    return decodeURIComponent(url).replace(/\+/g, " ");
  }

  function initPlayContent() {

    layui.use(['carousel', 'form'], function(){
      var carousel = layui.carousel
        ,form = layui.form;

      //设定各种参数
      var ins3 = carousel.render({
        elem: '#test3'
      });
      var $ = layui.$, active = {
        set: function(othis){
          var THIS = 'layui-bg-normal'
            ,key = othis.data('key')
            ,options = {};
          othis.css('background-color', '#5FB878').siblings().removeAttr('style');
          options[key] = othis.data('value');
          ins3.reload(options);
        }
      };
      //图片轮播
      carousel.render({
        elem: '#test10'
        ,width: '100%'
        ,height: $(window).height()+'px'
        ,interval: 5000
      });

      //事件
      carousel.on('change(test4)', function(res){
        // console.log(res)
      });



      //监听开关
      form.on('switch(autoplay)', function(){
        ins3.reload({
          autoplay: this.checked
        });
      });

      $('.demoSet').on('keyup', function(){
        var value = this.value
          ,options = {};
        if(!/^\d+$/.test(value)) return;

        options[this.name] = value;
        ins3.reload(options);
      });

      //其它示例
      $('.demoTest .layui-btn').on('click', function(){
        var othis = $(this), type = othis.data('type');
        active[type] ? active[type].call(this, othis) : '';
      });
    });
  }


</script>
</html>
