<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>精准营销-播放内容控制接口</title>

  <link charset="utf-8" rel="shortcut icon" href="/static/images/index/logo.png" type="image/x-icon">
  <link charset="utf-8" rel="stylesheet" href="/static/layui/css/layui.css?v=1.0.0">
  <link charset="utf-8" rel="stylesheet" href="/static/css/bundle/main.css?v=1.0.0">
  <link charset="utf-8" rel="stylesheet" href="/static/css/bundle/common.css?v=1.0.0">
  <link charset="utf-8" rel="stylesheet" href="/static/css/libs/admin.css?v=1.0.0">
  <link rel="stylesheet" href="/static/css/bundle/layuimini.css" media="all">
  <link rel="stylesheet" href="/static/layui/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
  <link rel="stylesheet" href="/static/css/bundle/temp.css" media="all">
  <style id="agile-color">

  </style>
  <script src="/static/js/libs/jquery-1.8.2.min.js?v=1.0.0"></script>

  <!--[if IE]>
  <script src="/static/js/libs/html5.min.js"></script>
  <script src="/static/js/libs/respond.min.js"></script>
  <script src="/static/js/plugins/PIE.js?v=1.0.0"></script>
  <script src="/static/js/plugins/jq-placehoder.js?v=1.0.0"></script>
  <script src="/static/js/libs/json2.js?v=1.0.0"></script>
  <![endif]-->
  <script src="/static/js/plugins/jquery.xdomainrequest.min.js?v=1.0.0"></script>
  <!-- <script src="/static/js/plugins/jquery-form.js?v=1.0.0"></script> -->
  <script src="/static/layui/layui.js?v=1.0.0"></script>
  <script src="/static/js/plugins/jquery.cookie.js?v=1.0.0"></script>
  <script src="/static/js/api.config.js"></script>
  <script src="/static/js/bundle/common.js?v=1.0.0"></script>
  <script src="/static/js/bundle/util.js?v=1.0.0"></script>
  <script src="/static/js/bundle/customform.js?v=1.0.0"></script>
  <script src="/static/js/bundle/url.js?v=1.0.0"></script>
  <script src="/static/layui/lay/lay-config.js?v=1.0.0"></script>
</head>
<body>
<form action="http://127.0.0.1:9600/sysmgr/sys/media-list/play-content" method="post">
请求值：<textarea id="params" name="params" rows="30" cols="40"><?xml version="1.0" encoding="UTF-8"?><req><phone_no>15212793766</phone_no><org_info>407038</org_info></req></textarea>
  返回值：<textarea  id="returnArea" name="params"  rows="30" cols="40"></textarea>
<INPUT type="button" onclick="doRequest();" VALUE="提交"/>
  <INPUT type="button" onclick="toNewWindows();" VALUE="测试"/>
</form>

</body>
<script>
  function doRequest() {
    var param = $("#params").val();
    var url = "http://127.0.0.1:9600/sysmgr/sys/media-list/play-content?params="+param;
    try{
      $.ajax({
        type: "POST",
        url: url,
        data: JSON.stringify(param),
        xhrFields: {
          withCredentials: false //跨域session保持
        },
        dataType: 'json',
        success: function(data) {
          console.log("1111111");
        },
        error: function(e) {
          $("#returnArea").val(e.responseText);
        }
      });
    }catch (e) {
      console.log(e);
    }

  }

  function toNewWindows() {
    // var xml = loadXML();
    // var url=xml.children[0].textContent;
    // util.openWin("http://127.0.0.1:8088/views/marketing/play-content.html?params=2545df5f3059af1bf95cd71a02e7383cf2f9dbce0afff6d6409dfbf340d6cf0733906e923192b6ce","展示页",800,600);
    window.open("http://127.0.0.1:8088/views/marketing/play-content.html?params=2545df5f3059af1bf95cd71a02e7383cf2f9dbce0afff6d6409dfbf340d6cf0733906e923192b6ce","展示页",800,600)
  }

  function loadXML(){
    var xmlString = $("#returnArea").val();
    var xmlDoc=null;
    //判断浏览器的类型
    //支持IE浏览器
    if(!window.DOMParser && window.ActiveXObject){   //window.DOMParser 判断是否是非ie浏览器
      var xmlDomVersions = ['MSXML.2.DOMDocument.6.0','MSXML.2.DOMDocument.3.0','Microsoft.XMLDOM'];
      for(var i=0;i<xmlDomVersions.length;i++){
        try{
          xmlDoc = new ActiveXObject(xmlDomVersions[i]);
          xmlDoc.async = false;
          xmlDoc.loadXML(xmlString); //loadXML方法载入xml字符串
          break;
        }catch(e){
        }
      }
    }
    //支持Mozilla浏览器
    else if(window.DOMParser && document.implementation && document.implementation.createDocument){
      try{
        /* DOMParser 对象解析 XML 文本并返回一个 XML Document 对象。
         * 要使用 DOMParser，使用不带参数的构造函数来实例化它，然后调用其 parseFromString() 方法
         * parseFromString(text, contentType) 参数text:要解析的 XML 标记 参数contentType文本的内容类型
         * 可能是 "text/xml" 、"application/xml" 或 "application/xhtml+xml" 中的一个。注意，不支持 "text/html"。
         */
        domParser = new  DOMParser();
        xmlDoc = domParser.parseFromString(xmlString, 'text/xml');
      }catch(e){
      }
    }
    else{
      return null;
    }

    return xmlDoc;
  }
</script>
</html>
