<!DOCTYPE html>
<html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>无纸化集中业务管理系统</title>
			<meta name="renderer" content="webkit">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			@@include('url-config.html')
			<script src="/static/js/plugins/cron/num-alignment.js"></script>
			<script src="/static/js/plugins/cron/cron.js"></script>
			<style>

				.layui-row{
				
				padding:5px;
			}
		
			.spanCss{
				
				padding-left:5px;
				padding-right:5px;
			}
			
			.imp{
				padding-left:20px;
			}
			
			.imp >.layui-inline >[type='checkbox']{
				
				margin:5px 1px 5px 5px !important;
			}
			
			.layui-table input {
				
				width:30px;
			}
			
			.layui-tab-content {
				
				padding: 0;
				
				height:calc( 100vh - 240px);
			}
			.layui-form-item{
				margin-bottom: 0;
			}
		</style>
		</head>
		<body class="bg-info">
			<div class="layui-card layui-card-margin " style="margin: 5px;">
				<div class="tabs-three">

					<div class="layui-tab  layui-tab-brief" lay-filter="table">

						<ul class="layui-tab-title ">

							<li class="layui-this">秒</li>
							<li>分钟</li>
							<li>小时</li>
							<li>日</li>
							<li>月</li>
							<li>周</li>
							<li>年</li>
						</ul>
						<div class="layui-tab-content ">

							<div class="layui-tab-item layui-show">

								<div class="layui-row  tabs-div ">

									<div class=" tabs-from">

										<div class="layui-row">

											<input type="radio" checked="checked" name="second" onclick="everyTime(this)" />
											<span class="spanCss">每秒允许的通配符[, - * /]</span>

										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="second" onclick="cycle(this)" />
												<span class="spanCss">周期从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="58" data-digit="0" value="1" id="secondStart_0" />
											</div>
											<span class="spanCss">到</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="2"
												 data-max="59" data-digit="0" value="2" id="secondEnd_0" />
											</div>
											<span class="spanCss">秒</span>
										</div>

										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="second" onclick="startOn(this)" />
												<span class="spanCss">从</span>
											</div>

											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="0"
												 data-max="59" data-digit="0" value="1" id="secondStart_1" />
											</div>

											<span class="spanCss">秒开始,每</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="59" data-digit="0" value="1" id="secondEnd_1" />
											</div>

											<span class="spanCss">秒执行一次</span>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="second" id="sencond_appoint" />
												<span class="spanCss">指定</span>
											</div>
											<div class="layui-form-item  imp secondList ">

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="layui-tab-item ">
								<div class="layui-row  tabs-div ">

									<div class=" tabs-from">

										<div class="layui-row">
											<input type="radio" checked="checked" name="min" onclick="everyTime(this)" />
											<span class="spanCss">分钟 允许的通配符[, - * /]</span>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="min" onclick="cycle(this)" />
												<span class="spanCss"> 周期从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="58" data-digit="0" value="1" id="minStart_0" />
											</div>
											<span class="spanCss">到</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="2"
												 data-max="59" data-digit="0" value="2" id="minEnd_0" />
											</div>
											<span class="spanCss">分钟</span>
										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="min" onclick="startOn(this)" />
												<span class="spanCss"> 从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="0"
												 data-max="59" data-digit="0" value="1" id="minStart_1" />
											</div>
											<span class="spanCss">分钟开始,每</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="59" data-digit="0" value="1" id="minEnd_1" />
											</div>
											<span class="spanCss">分钟执行一次</span>

										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="min" id="min_appoint" />
												<span class="spanCss">指定</span>
											</div>
											<div class="layui-form-item  imp minList ">

											</div>



										</div>
									</div>
								</div>
							</div>

							<div class="layui-tab-item ">

								<div class="layui-row  tabs-div ">

									<div class=" tabs-from">

										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" checked="checked" name="hour" onclick="everyTime(this)" />
												<span class="spanCss"> 小时允许的通配符[, - * /]</span>
											</div>
										</div>

										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="hour" onclick="cycle(this)" />
												<span class="spanCss">周期从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="0"
												 data-max="23" data-digit="0" value="1" id="hourStart_0" />
											</div>
											<span class="spanCss">到</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="2"
												 data-max="23" data-digit="0" value="2" id="hourEnd_0" />
											</div>
											<span class="spanCss"> 小时</span>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="hour" onclick="startOn(this)" />
												<span class="spanCss">从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="0"
												 data-max="23" data-digit="0" value="1" id="hourStart_1" />
											</div>
											<span class="spanCss">小时开始,每</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="23" data-digit="2" value="1" id="hourEnd_1" />
											</div>
											<span class="spanCss"> 小时执行一次</span>
										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="hour" id="hour_appoint" />
												<span class="spanCss">指定</span>
											</div>
											<div class="layui-form-item  imp hourList hourAM ">
												<span class="spanCss">AM :</span>
											</div>
											<div class="layui-form-item  imp hourList hourPM">
												<span class="spanCss">PM :</span>
											</div>

										</div>

									</div>
								</div>

							</div>

							<div class="layui-tab-item ">
								<div class="layui-row  tabs-div ">

									<div class=" tabs-from">
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" checked="checked" name="day" onclick="everyTime(this)" />
												<span class="spanCss">日 允许的通配符[, - * / L W]</span>
											</div>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="day" onclick="unAppoint(this)" />
												<span class="spanCss">不指定</span>
											</div>
										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="day" onclick="cycle(this)" />
												<span class="spanCss">周期从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="31" data-digit="0" value="1" id="dayStart_0" />
											</div>
											<span class="spanCss">-</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="2"
												 data-max="31" data-digit="0" value="1" id="dayEnd_0" />
											</div>
											<span class="spanCss">日</span>

										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="day" onclick="startOn(this)" />
												<span class="spanCss">从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="31" data-digit="0" value="1" id="dayStart_1" />
											</div>
											<span class="spanCss">日开始,每</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="31" data-digit="0" value="1" id="dayEnd_1" />
											</div>
											<span class="spanCss">天执行一次</span>

										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="day" onclick="workDay(this)" />
												<span class="spanCss">每月</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="31" data-digit="0" value="1" id="dayStart_2" />
											</div>
											<span class="spanCss"> 号最近的那个工作日</span>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="day" onclick="lastDay(this)" />
												<span class="spanCss">本月最后一天</span>
											</div>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="day" id="day_appoint" />
												<span class="spanCss">指定</span>
											</div>
											<div class="layui-form-item  imp dayList  ">

											</div>
										</div>


									</div>
								</div>
							</div>
							<div class="layui-tab-item ">

								<div class="layui-row  tabs-div ">

									<div class=" tabs-from">

										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" checked="checked" name="mouth" onclick="everyTime(this)" />
												<span class="spanCss">月 允许的通配符[, - * /]</span>
											</div>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="mouth" onclick="unAppoint(this)" />
												<span class="spanCss"> 不指定</span>
											</div>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="mouth" onclick="cycle(this)" />
												<span class="spanCss">周期从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="12" data-digit="0" value="1" id="mouthStart_0" />
											</div>
											<span class="spanCss">-</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="2"
												 data-max="12" data-digit="0" value="2" id="mouthEnd_0" />
											</div>
											<span class="spanCss">月</span>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="mouth" onclick="startOn(this)" />
												<span class="spanCss">从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="12" data-digit="0" value="1" id="mouthStart_1" />
											</div>
											<span class="spanCss">月开始,每</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="12" data-digit="0" value="1" id="mouthEnd_1" />
											</div>
											<span class="spanCss">月执行一次</span>

										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="mouth" id="mouth_appoint" />
												<span class="spanCss">指定</span>
											</div>
											<div class="layui-form-item  imp mouthList  ">

											</div>


										</div>

									</div>

								</div>
							</div>
							<div class="layui-tab-item ">

								<div class="layui-row  tabs-div ">

									<div class=" tabs-from">


										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" checked="checked" name="week" onclick="everyTime(this)" />
												<span class="spanCss">周 允许的通配符[, - * / L #]</span>
											</div>
										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="week" onclick="unAppoint(this)" />
												<span class="spanCss">不指定</span>
											</div>

										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="week" onclick="startOn(this)" />
												<span class="spanCss"> 周期 从星期</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="7" data-digit="0" value="1" id="weekStart_0" />
											</div>
											<span class="spanCss">-</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="2"
												 data-max="7" data-digit="0" value="2" id="weekEnd_0" />
											</div>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="week" onclick="weekOfDay(this)" />
												<span class="spanCss">第</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="4" data-digit="0" value="1" id="weekStart_1" />
											</div>
											<span class="spanCss">周 的星期</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="7" data-digit="0" value="1" id="weekEnd_1" />
											</div>
										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="week" onclick="lastWeek(this)" />
												<span class="spanCss">本月最后一个星期</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="1"
												 data-max="7" data-digit="0" value="1" id="weekStart_2" />
											</div>
										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="week" id="week_appoint" />
												<span class="spanCss">指定</span>
											</div>
											<div class="layui-form-item  imp weekList  ">

											</div>


										</div>

									</div>

								</div>
							</div>
							<div class="layui-tab-item ">

								<div class="layui-row  tabs-div ">

									<div class=" tabs-from">

										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" checked="checked" name="year" onclick="unAppoint(this)" />
												<span class="spanCss">不指定 允许的通配符[, - * /] 非必填</span>
											</div>
										</div>
										<div class="layui-row">

											<div class="layui-inline">
												<input type="radio" name="year" onclick="everyTime(this)" />
												<span class="spanCss">每年</span>
											</div>

										</div>
										<div class="layui-row">
											<div class="layui-inline">
												<input type="radio" name="year" onclick="cycle(this)" />
												<span class="spanCss">周期 从</span>
											</div>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="2018"
												 data-max="3000" data-digit="0" value="2018" id="yearStart_0" />
											</div>
											<span class="spanCss">-</span>
											<div class="layui-inline">
												<input style="width:80px;height:20px;" class="numberspinner" data-func="autoClick" data-step="1" data-min="2019"
												 data-max="3000" data-digit="0" value="2019" id="yearEnd_0" />
											</div>

										</div>

									</div>
								</div>
							</div>
						</div>

					</div>

					<fieldset class="layui-elem-field layui-field-title desc_line">
						<legend style="font-size:14px;">表达式</legend>
						<div class="layui-field-box">
							<table class="layui-table" style="table-layout: fixed;word-break: break-all; word-wrap: break-word;">
								<colgroup>
								</colgroup>
								<thead>
									<tr>
										<th></th>
										<th>秒</th>
										<th>分钟</th>
										<th>小时</th>
										<th>日</th>
										<th>月</th>
										<th>周</th>
										<th>年</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>表达式字段：</td>
										<td> <input type="text" name="v_second" class="col" value="*" readonly="readonly" /></td>
										<td>
											<input type="text" name="v_min" class="col" value="*" readonly="readonly" />
										</td>
										<td>
											<input type="text" name="v_hour" class="col" value="*" readonly="readonly" />
										</td>
										<td>
											<input type="text" name="v_day" class="col" value="*" readonly="readonly" />
										</td>
										<td>
											<input type="text" name="v_mouth" class="col" value="*" readonly="readonly" />
										</td>
										<td>
											<input type="text" name="v_week" class="col" value="?" readonly="readonly" />
										</td>
										<td>
											<input type="text" name="v_year" class="col" readonly="readonly" />
										</td>
									</tr>
									<tr>
										<td>Cron表达式</td>
										<td colspan="5">

											<input type="text" name="cron" style="width: 100%;" value="* * * * * ?" id="cron" />
										</td>
										<td colspan="2">
											<button class=" layui-btn layui-btn-sm layui-btn-normal " onclick="save()">
												<i class="layui-icon layui-icon-ok-circle "></i>
												<span class="btn-span-middle">保存</span>
											</button>
											<button class="ag-btn-cancel layui-btn layui-btn-sm layui-btn-normal">
												<i class="layui-icon layui-icon-close "></i>
												<span class="btn-span-middle">取消</span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</fieldset>
				</div>

			</div>
		</body>
		<script type="text/javascript">
			function save() {

				parent.$("[name=scheduComp]").val($("#cron").val());

				util.closeWin();

			}
		</script>

	</html>
