<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		@@include('url-config.html')
	</head>
	
  <body class="bg-info">

    <div class="layui-card layui-card-form">

      <div class="layui-card-body">

        <form class="ag-form layui-form" ag-data-index="1" ag-data-ctx = "cfgmgr" ag-data-url ="/cfg/settings/cfgDamonSchedu/query" >

			<input type="hidden" name="id" />
          <div class="layui-inline ">
		
            <div class="layui-inline layui-col-sm12">
              <label class="layui-form-label">计划名称：</label>
              <div class="layui-input-block">
                <input type="text" name="scheduName" ag-verify="required" autocomplete="off" placeholder="调度计划名称" class="layui-input">
              </div>
            </div>
			<div class="layui-inline layui-col-sm12">
			  <label class="layui-form-label">计划类型：</label>
			  <div class="layui-input-block">
				  <select class="ag-schedu" >
					 
				  </select>
			  </div>
			</div>

            <div class="layui-inline layui-col-sm12">
              <label class="layui-form-label">表达式：</label>
              <div class="layui-input-block">
                <input type="text" name="scheduCron" style="cursor:pointer !important"  readonly="readonly" ag-verify="required" autocomplete="off" placeholder="调度计划表达式" class="layui-input">
              </div>
            </div>
            <div class="layui-inline layui-col-sm12">
              <label class="layui-form-label">执行对象：</label>
              <div class="layui-input-block">
                <input type="text" name="scheduComp" ag-verify="required" autocomplete="off" placeholder="Spring Bean" class="layui-input">
              </div>
            </div>

            <div class="layui-inline layui-col-sm12 ">
              <label class="layui-form-label">计划描述：</label>
              <div class="layui-input-block">
				  <textarea   name="scheduDesc" ag-verify="required" autocomplete="off" placeholder="调度计划描述信息" class="layui-textarea"></textarea>
              </div>
            </div>

           

        </form>


      </div>

      <div class="layui-card-footer">

        <button class="ag-btn-save layui-btn layui-btn-sm layui-btn-blue " ag-data-ctx = "cfgmgr" ag-data-url="/cfg/settings/cfgDamonSchedus/update"
          ag-data-index="1">
          <i class="layui-icon layui-icon-search "></i>
          <span class="btn-span-middle">保存</span>
        </button>
        <button class="ag-btn-cancel layui-btn layui-btn-sm layui-btn-blue">
          <i class="layui-icon layui-icon-search "></i>
          <span class="btn-span-middle">取消</span>
        </button>
      </div>

    </div>
  </body>
  <script>
	  
	layui.use(['schedu'], function() {
		
		var schedu = layui.schedu;
		
		schedu.init();
	});
	  
  </script>

</html>
