<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="../../static/layui/css/layui.css" />
		<link rel="stylesheet" href="../../static/css/bundle/temp.css" />
		<script src="../../static/layui/layui.all.js" type="text/javascript" charset="utf-8"></script>

		<style>
			
		</style>
	</head>
	<body class="bg-info">

		<div class="layui-card layui-card-static" >

			<div class="layui-card-header layui-card-header-bb-2" >

				<span style="background-color: #3178ff; display: inline;padding: 12px 20px;color: white;margin-left: 10px;">证件采集</span>
			</div>
			<div class="layui-card-body">

				<div class="cert-tabs" style="padding-right: 150px;">

					<div class="card-btn">
						<div class="card-btn-img img-cert-idcard"></div>
						<div class="card-btn-desc">
							读卡
						</div>
					</div>
					<div class="card-btn">
						<div class="card-btn-img img-cert-photograph"></div>
						<div class="card-btn-desc">
							拍照
						</div>
					</div>
					<div class="card-btn">
						<div class="card-btn-img img-cert-upload	"></div>
						<div class="card-btn-desc">
							图片上传
						</div>
					</div>
					
				</div>

				<div class="card-btn-right">
					<div class="card-btn">
						<div class="card-btn-img img-save"></div>
						<div class="card-btn-desc">
							保存
						</div>
					</div>
					<div class="card-btn">
						<div class="card-btn-img img-del"></div>
						<div class="card-btn-desc">
							关闭
						</div>
					</div>
				</div>
			</div>

		</div>


		<div class="layui-card cert-content  layui-card-static " style="">

			<div class="card-auto">

				<div class="card-dk-left">

					<div class="card-dk-left-split">

						<div class="img-cert-card-front ">


						</div>
					</div>
					<div class="card-dk-left-split">

						<div class="img-cert-card-back " style="margin-top: 30px;">



						</div>
					</div>
					<div class="card-dk-left-btns">
						<button class="layui-btn layui-btn-normal  layui-btn-sm">插入</button>
						<button class="layui-btn layui-btn-blue layui-btn-sm">删除</button>
					</div>


				</div>

				<div class="card-dk-right">

					<form class="layui-form">

						<div class="card-dk-right-type card-dk-right-type-padd" >

							<div class="layui-inline" >
								<select >
									<option>证件本地读卡方式</option>
								</select>
							</div>
							<button class="layui-btn layui-btn-blue layui-btn-sm">重新连接</button>
							<span class="layui-color-succ input-ljcg">(链接成功)</span>
						</div>
						
						<div>

							<div class="img-default-face card-dk-right-img">

							</div>
						</div>
						<table class="cert-table">
							<tr>
								<th>姓名：</th>
								<td></td>
								<th>性别：</th>
								<td></td>
							</tr>
							<tr>
								<th>民族：</th>
								<td></td>
								<th>出生日期：</th>
								<td></td>
							</tr>
							<tr>
								<th>证件类型：</th>
								<td colspan="3"></td>
							</tr>
							<tr>
								<th>证件号码：</th>
								<td colspan="3"></td>
							</tr>
							<tr>
								<th>证件地址：</th>
								<td colspan="3"></td>
							</tr>
							<tr>
								<th>生效日期：</th>
								<td colspan="3"></td>
							</tr>
							<tr>
								<th>失效日期：</th>
								<td colspan="3"></td>
							</tr>
							<tr>
								<th>签发机关：</th>
								<td colspan="3"></td>
							</tr>
						</table>

					</form>
				</div>


			</div>


		</div>

		<div class="layui-card layui-card-static cert-content ">
			
			<div class="card-auto">
					<div class="card-photo-left "> <!-- card-photo-left-succ 采集成功添加-->
						
						<div class="img-cert-card-image card-photo-default-center">
							
						</div>
						<div class="img-cert-photo-rect layui-hide" >
							
							<div class="card-photo-succ">
								
								
							</div>
							
						</div>
						
					</div>
					<div class="card-photo-right">
						<form class="layui-form">
						<div class="card-dk-right-type">
						
							<div class="layui-row">
								<div class="layui-inline" >
									<select style="width: 305px;">
										<option>临时身份证</option>
									</select>
								</div>
							</div>
							<div class="layui-row">
								<div style="margin-left: -20px;margin-top:10px;">
									<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-blue" lay-submit lay-filter="queryBtn" ag-data-index="0" ag-data-url="/sys/tenant/queryPage">
										<span class="btn-span-middle">采集识别</span>
									</button>
									<span  class="layui-color-succ" style="margin-left: 5px;line-height:30px;"><i class="layui-icon layui-icon-ok-circle"></i> 采集信息成功</span>
								</div>
								
								<div  style="margin-left: -20px;margin-top:10px;">
									
									<button class="ag-btn-query layui-btn layui-btn-sm layui-btn-normal"  lay-submit lay-filter="queryBtn" ag-data-index="0" ag-data-url="/sys/tenant/queryPage">
										<span class="btn-span-middle" style="margin:0px 13px">拍照</span>
									</button>
									
									
								</div>
							</div>
						</div>
						</form>
					</div>
			</div>
		
		</div>

		
		<div class="layui-card layui-card-static cert-content ">
				
				<div class="card-auto" style="border: 1px solid #0B82FF;background-color: #F9FAFE;">
					
					<div class="upload-tb" style="">
						
						<div class="card-btn" style="width: 100%;">
							
							<div class="card-btn-img img-cert-upload-pic" style="margin-top: 10px;"></div>
							<div class="card-btn-desc" style="margin-top: 10px;margin-bottom: 10px;">
								点击上传图片
							</div>
						</div>
						
						
					</div>
					<i class="upload-tb-del layui-icon layui-icon-delete" style=""></i>
				</div>
			
			</div>
		
	</body>

	<script>
		
		
		layui.use('form', function() {
			
			var $ = layui.jquery;
			
			var height = $(window).height() -180;
			
			$(".cert-content").toggleClass("layui-hide",true);
			
			$(".cert-content").eq(0).removeClass("layui-hide");
			
			$(".cert-content").height(height);

			var form = layui.form;

			form.render();
			
			$(".cert-tabs .card-btn").click(function(){
				
				var index = $(this).index();
				
				$(".cert-content").toggleClass("layui-hide",true);
				
				$(".cert-content").eq(index).removeClass("layui-hide");
				
			});

		});
	</script>
</html>
