@@if(context.shape){
  <div class="layui-inline layui-col-lg6 layui-col-md6 layui-col-sm12 layui-col-xs12">
      <label class="layui-form-label layui-col-lg3 layui-col-md3 layui-col-sm3 layui-col-xs3">@@title：</label>
      <div class="layui-input-inline layui-col-lg4 layui-col-md4  layui-col-sm4 layui-col-xs4">
        <input name="@@name" lay-verify="@@verify" autocomplete="off" @@if (context.class) { class="layui-input @@name @@class"
          } @@if (!context.class) { class="layui-input @@name" } @@if (context.type) { type="@@type" } @@if (!context.type)
          { type="text" } @@if (context.ignore) { ignore="@@ignore" } @@if (!context.ignore) { ignore="2" } @@if(context.placeholder){placeholder="@@placeholder"}>
    
      </div>
      <div class="layui-input-inline layui-col-lg3 layui-col-md3 layui-col-sm3 layui-col-xs3">
          @@if (context.tip) { <span class="tip">@@tip</span> }
          <!-- <span class="tip">@@tip</span> -->
      </div>
     
    </div>
}
@@if(!context.shape){

  <div class="layui-inline layui-col-lg4  layui-col-md4 layui-col-sm12 layui-col-xs12">
    <label class="layui-form-label layui-col-lg4 layui-col-md4 layui-col-sm4 layui-col-xs4">@@title：</label>
    <div class="layui-input-inline layui-col-lg5 layui-col-md5 layui-col-sm5 layui-col-xs5">
      <input @@if(context.placeholder){placeholder="@@placeholder"} name="@@name" lay-verify="@@verify" autocomplete="off" @@if (context.class) { class="layui-input @@name @@class"
        } @@if (!context.class) { class="layui-input @@name" } @@if (context.type) { type="@@type" } @@if (!context.type)
        { type="text" } @@if (context.ignore) { ignore="@@ignore" } @@if (!context.ignore) { ignore="2" }>
  
    </div>
    <div class="layui-input-inline layui-col-lg3 layui-col-md3 layui-col-sm3 layui-col-xs3">
        @@if (context.tip) { <span class="tip">@@tip</span> }
        <!-- <span class="tip">@@tip</span> -->
    </div>
   
  </div>
}
